<template>
    <div>
        <!-- footer begin -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="box">
                            <p>
                                Covest.ng is the savings and investment platform of COVEST CORPORATE SERVICES LIMITED, 
                                a duly registered company. COVEST carries out its activities under COVEST cooperative 
                                society which is registered under the Ministry of commerce, trade and cooperatives. 
                                Registration on the platform is an agreement to join 
                                COVEST Corporate Services where you will be bound by membership rules of COVEST Ltd.
                            </p>
                            <div class="social_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-google-plus-g"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="">
                                <p class="mb-0">Email:hello@covest.ng</p>
                                <p class="mb-0">Phone:2222222222222</p>
                                <p>Whatsapp Link:Whatsapp@whatsapp.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <ul class="text-center links">
                            <li>
                                <router-link to="/">Home</router-link>
                            </li>
                            <li>
                                <router-link to="/about">About</router-link>
                            </li>
                            <li>
                                <router-link to="/contact">Packages</router-link>
                            </li>
                            <li>
                                <a>Blog</a>
                            </li>
                            <li>
                                <a>FAQ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="">

                    </div>
                </div>
            </div>
            <p class="text-center pb-0 mb-0 text-white">
                © 2020. All Rights Reserved.
            </p>
        </footer>
        <!-- footer end -->

        <!-- scroll top button begin -->
        <div class="scroll-to-top">
            <a><i class="fas fa-long-arrow-alt-up"></i></a>
        </div>
        <!-- scroll top button end -->
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>
    footer ul.links li{
        
        display: inline;
        padding-right: 20px;;
    }
    footer ul.links li a{
        color: white;
        font-size: 15px;
    }
</style>