<template>
    <div>

        <!-- header begin-->
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="row justify-content-between d-flex">
                        <div class="col-xl-6 col-lg-6 d-flex align-items-center">
                            <div class="support-bar">
                                <ul>
                                    <li><span class="icon"><i class="fas fa-envelope"></i></span>hello@gmail.com</li>
                                    <li><span class="icon"><i class="fas fa-phone"></i></span>3333 222 1111</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="container">
                    <div class="row d-flex">
                        <div class="col-xl-2 col-lg-2 col-12 d-block d-xl-flex d-lg-flex align-items-center">
                            <div class="mobile-special">
                                <div class="row d-flex">
                                    <div class="col-6 col-xl-12 col-lg-12 d-flex align-items-center">
                                        <div class="logo">
                                            <router-link to="/">
                                                <img src="../../assets/co-vest-05.png" alt="">
                                            </router-link>
                                        </div>
                                    </div>
                                    <div class="col-6 d-block d-xl-none d-lg-none">
                                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8">
                            <div class="mainmenu">
                                <nav class="navbar navbar-expand-lg">
                                
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <ul class="navbar-nav mr-auto justify-content-center">
                                            <li :class="this.$route.name == 'home' ? 'nav-item active': 'nav-item'">
                                                <router-link to="/" class="nav-link">HOME </router-link>
                                            </li>
                                            <li :class="this.$route.name == 'about' ? 'nav-item active': 'nav-item'">
                                                <router-link to="/about-us" class="nav-link">ABOUT</router-link>
                                            </li>
                                            <li :class="this.$route.name == 'faq' ? 'nav-item active': 'nav-item'">
                                                <router-link to="/faq" class="nav-link">FAQ</router-link>
                                            </li>
                                            <li :class="this.$route.name == 'packages' ? 'nav-item active': 'nav-item'">
                                                <a href="/packages" class="nav-link">PACKAGES</a>
                                            </li>
                                            <li :class="this.$route.name == 'blog' ? 'nav-item active': 'nav-item'">
                                                <a href="/blog" class="nav-link">BLOG</a>
                                            </li>
                                            <li :class="this.$route.name == 'contact' ? 'nav-item active': 'nav-item'">
                                                <router-link to="/contact" class="nav-link">CONTACT</router-link>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 d-flex align-items-center">
                            <div class="join-us">
                                <router-link to="/login" class="nav-link">Join Us</router-link>
                                <!-- <button type="button" class="btn nav-link" data-toggle="modal" data-target="#myModal">Join Us</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-body">
                        <form action="" class="contact-form">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12">
                                    <div class="form-group">
                                        <label for="FirstName">Full Name<span class="">*</span></label>
                                        <input type="text" class="form-control" id="FirstName" placeholder="Enter Your First Name"
                                            required>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12">
                                    <div class="form-group">
                                        <label for="InputAmount">E-mail<span class="">*</span></label>
                                        <input type="email" class="form-control" id="InputAmount" placeholder="Enter Your E-mail Address"
                                            required >
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12">
                                    <div class="form-group">
                                        <label for="phone">Phone<span class="">*</span></label>
                                        <input type="tel" class="form-control" id="phone" placeholder="Enter Phone Number"
                                            required>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12">
                                    <div class="form-group">
                                        <label for="password">Password<span class="">*</span></label>
                                        <input type="password" class="form-control" id="password" placeholder="Enter Password"
                                            required>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12">
                                    <div class="row d-flex text-center">
                                        <div class="col-xl-12 col-lg-12 ">
                                            <button type="submit" class="login-button">
                                                <span style="color:white">Register</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center mt-5 mb-0">
                                    <a class="reg col-12 d-block red" to="/login">Already have an Account? Login</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- header end -->
    </div>
</template>
<script>
export default {
    created(){
        console.log(this.$route);
    }
}
</script>
<style scoped>

.header .header-top .support-bar ul li span.icon {
    margin-right: 9px;
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
}

.header .header-bottom .mainmenu .navbar .navbar-nav .nav-item .nav-link {
    padding: 30px 15px;
    font-size: 16px;
}
.btn.nav-link{
    margin-top: 0;
    display: inline-block;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0);
    padding: 14px 0;
    width: 130px;
    text-align: center;
    border-radius: 6px;
    font-size: 16px;
}
.navbar {
    /* border-radius: 0; */
    background: inherit;
} 
.page-title{
    margin-bottom: 86px;
}
a.red{
    color:red;
}
.reg{
    background: #f3f6ff;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid hsla(225, 100%, 86%, 1);
    width: 100%;
    cursor: pointer;
}  
.login-button {
    height: 60px;
    width: 160px;
    background: -webkit-linear-gradient(-30deg, #052157 0%, #91039f 100%);
    color: #fff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in;
    position: relative;
    outline: none;
}
.header .header-bottom .mainmenu .navbar .navbar-nav .nav-item .nav-link{ 
    padding: 30px 15px;
    height: 100%;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    opacity: .8;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
</style>