<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="keywords" content="COVEST | Plan, Save and Invest">
    <meta name="keywords" content="Plan, Savings and Investment">
    <meta name="description" content="Covest is the smartest way to manage, plan and multiply your money. get on board and be on the sure path to financial freedom today!!! ">
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="COVEST | Plan, Save and Invest charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>COVEST | PLAN, SAVE, INVEST</title>

              <!-- --------------------------------------Pages---------------------------------- -->
    
              <link rel="stylesheet" href="<%= BASE_URL %>./assets2/css/bootstrap.min.css">
              <!-- fontawesome icon  -->
              <link rel="stylesheet" href="<%= BASE_URL %>./assets2/css/fontawesome.min.css">
              <!-- flaticon css -->
              <link rel="stylesheet" href="<%= BASE_URL %>./assets2/fonts/flaticon.css">
              <!-- animate.css -->
              <link rel="stylesheet" href="<%= BASE_URL %>./assets2/css/animate.css">
              <!-- Owl Carousel -->
              <link rel="stylesheet" href="<%= BASE_URL %>./assets2/css/owl.carousel.min.css">
              <!-- magnific popup -->
              <link rel="stylesheet" href="<%= BASE_URL %>./assets2/css/magnific-popup.css">
              <!-- stylesheet -->
              <link rel="stylesheet" href="<%= BASE_URL %>./assets2/css/style2.css">
              <!-- responsive -->
              <link rel="stylesheet" href="<%= BASE_URL %>./assets2/css/responsive.css">        

              
              
            <!---------------------------------- USer Dashboard  ----------------->
    <link href="<%= BASE_URL %>./assets1/fonts.googleapis.com/icone91f.css?family=Material+Icons" rel="stylesheet">
    <link href="<%= BASE_URL %>./assets1/vendors/iconic-fonts/font-awesome/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="<%= BASE_URL %>./assets1/vendors/iconic-fonts/flat-icons/flaticon.css">
    <link rel="stylesheet" href="<%= BASE_URL %>./assets1/vendors/iconic-fonts/cryptocoins/cryptocoins.css">
    <link rel="stylesheet" href="<%= BASE_URL %>./assets1/vendors/iconic-fonts/cryptocoins/cryptocoins-colors.css">
    <link href="<%= BASE_URL %>./assets1/css/bootstrap.min.css" rel="stylesheet">
    <link href="<%= BASE_URL %>./assets1/css/jquery-ui.min.css" rel="stylesheet">
    <link href="<%= BASE_URL %>./assets1/css/slick.css" rel="stylesheet">
    <link href="<%= BASE_URL %>./assets1/css/datatables.min.css" rel="stylesheet">
    <link href="<%= BASE_URL %>./assets1/css/style.css" rel="stylesheet">
          <!----------------------End of Dashbord------------------------------------------>


  </head>
  <body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
    <!-- :class="this.$route.name == 'dashboard'?'ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar':''" -->
    <div id="app">
      
    </div>
 <!-- --------------------------------------Pages---------------------------------- -->
        <!-- jquery -->
        <script src="<%= BASE_URL %>./assets2/js/jquery.js"></script>
        <!-- bootstrap -->
                 <!-- <script src="assets/js/bootstrap.min.js"></script> -->
        <!-- owl carousel -->
        <script src="<%= BASE_URL %>./assets2/js/owl.carousel.js"></script>
        <!-- magnific popup -->
        <script src="<%= BASE_URL %>./assets2/js/jquery.magnific-popup.js"></script>
        <!-- way poin js-->
        <script src="<%= BASE_URL %>./assets2/js/waypoints.min.js"></script>
        <!-- counter up js-->
        <script src="<%= BASE_URL %>./assets2/js/jquery.counterup.min.js"></script>
        <!-- wow js-->
        <script src="<%= BASE_URL %>./assets2/js/wow.min.js"></script>
        <!-- main -->
        <script src="<%= BASE_URL %>./assets2/js/main.js"></script>
<!-- --------------------------------------Pages END---------------------------------- -->

    <!-- --------------------------------------------Dashboard ------------- -->
    <script src="<%= BASE_URL %>./assets1/js/jquery-3.3.1.min.js"></script>
    <script src="<%= BASE_URL %>./assets1/js/popper.min.js"></script>
    <script src="<%= BASE_URL %>./assets1/js/bootstrap.min.js"></script>
    <script src="<%= BASE_URL %>./assets1/js/perfect-scrollbar.js"></script>
    <script src="<%= BASE_URL %>./assets1/js/jquery-ui.min.js"></script>
    <script src="<%= BASE_URL %>./assets1/js/jquery.steps.min.js"></script>
    <script src="<%= BASE_URL %>./assets1/js/form-wizard.js"></script>
    <!-- <script src="<%= BASE_URL %>./assets1/js/Chart.bundle.min.js"></script>
    <script src="<%= BASE_URL %>./assets1/js/widgets.js"> </script>
    <script src="<%= BASE_URL %>./assets1/js/clients.js"> </script>
    <script src="<%= BASE_URL %>./assets1/js/Chart.Financial.js"> </script> -->
    <script src="<%= BASE_URL %>./assets1/js/d3.v3.min.js"></script>
    <script src="<%= BASE_URL %>./assets1/js/topojson.v1.min.js"></script>
    <script src="<%= BASE_URL %>./assets1/js/datatables.min.js"></script>
    <script src="<%= BASE_URL %>./assets1/js/data-tables.js"></script>
    <script src="<%= BASE_URL %>./assets1/js/framework.js"></script>
    <script src="<%= BASE_URL %>./assets1/js/settings.js"></script>
    
    <!-- <script>
      alert('hello');
    </script> -->
    <!-- -------------------------Dashboard End ------------------------------ -->
    <script>
      setTimeout(function(){
        $("#ms-aside-toggler").on('click', function(e){
          e.stopPropagation();
          $('#ms-side-nav').toggleClass('ms-aside-open');
        });

        $("body").on('click', function(){
          $('#ms-side-nav').toggleClass('ms-aside-open');
          if($('#ms-side-nav').hasClass('ms-aside-open')){
            $('#ms-side-nav').toggleClass('ms-aside-open');
          }
        });
      },1000);
    </script>

    <script src="https://js.paystack.co/v1/inline.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  </body>
</html>
