<template>
    <div>
        <page-nav></page-nav>
            <!-- page title begin-->
        <div class="page-title">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8">
                        <h2>About Us</h2>
                        <p>The smartest way to manage, plan and multiply your money</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- page title end -->

        <!-- we are begin -->
        <div class="we-re">
            <div class="container">
                <div class="row d-flex reorder-md">
                    <div class="col-xl-6 col-lg-6 d-flex align-items-center">
                        <div class="part-text">
                            <div class="section-title">
                                <h2>Rewarding and Seamless Platform for your Money</h2>
                                <p>Covest is a fast growing Savings & Investment platform in Africa, that manages finances 
                                    making savings seamless and rewarding. We a sure way to managing, planning and growing 
                                    your money as you get on the path to wealth
                                </p>
                            </div>
                            <a href="#">Know More</a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="part-img">
                            <img src="./../../assets/assets2/img/692.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- we are end -->

        <!-- video begin-->
        <div class="video">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8">
                        <div class="section-title">
                            <h2>Our Overview</h2>
                            <p>We are that platform that you can get the best
                               path to managing and planning your money with savings 
                               and investment. Join Us Now!!!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="play-video">
                            <a class="play-button venobox mfp-iframe" href="https://www.youtube.com/watch?v=CTQYBf_wZpc"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- video end -->

        <!-- about begin -->
        <div class="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8">
                        <div class="section-title">
                            <h2>About Tettram</h2>
                            <p>We are that platform that you can get the best path to 
                                managing and planning your money with savings and investment. Join Us Now!!!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-about">
                            <div class="heading">
                                <div class="part-icon">
                                    <i class="flaticon-brain"></i>
                                </div>
                                <div class="part-text">
                                    <h3>Growth and Development</h3>
                                </div>
                            </div>
                            <p>Our growth as a company is a distinctive buzz of COVEST as our daily growth compounds. We also have a great R&D team for impeccable success of our goals.</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-about">
                            <div class="heading">
                                <div class="part-icon">
                                    <i class="flaticon-donation"></i>
                                </div>
                                <div class="part-text">
                                    <h3>Best Financial Packages</h3>
                                </div>
                            </div>
                            <p>Our platform allows our customers to create a flexible stash or fixed savings account with us today at your own terms and grow your savings using our automated plan..</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
        
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-about">
                            <div class="heading">
                                <div class="part-icon">
                                    <i class="flaticon-reward"></i>
                                </div>
                                <div class="part-text">
                                    <h3>We are Professional</h3>
                                </div>
                            </div>
                            <p>Our team of hands-on experienced expert doggedly work hand in hand to achieve impeccable success of the company and its dealings.</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
        
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-about">
                            <div class="heading">
                                <div class="part-icon">
                                    <i class="flaticon-patent"></i>
                                </div>
                                <div class="part-text">
                                    <h3>Licensed & Certified</h3>
                                </div>
                            </div>
                            <p>Customers peace of mind is important for us here in COVEST, we are licensed, registered and certified to carry out these financial transactions</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about end -->

        <!-- we think global begin-->
        <div class="we-think-global">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-6 col-lg-6 col-md-10">
                        <div class="part-left">
                            <h2>We were always<br/>
                            thinking Africa Community</h2>
                            <p>COVEST helps young Africans manage their personal finances. This shows we have concerns and consequently, the financial growth and stability of the youth at heart. We provide capital to pay that school fees, start that business and so on, and in turn move the economy.</p>
                            <a href="#">Learn More</a>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-10 d-flex align-items-center">
                        <div class="part-right">
                            <h3>Start Invest Now</h3>
                            <p>A penny saved is worth two pennies earned. Create a flexible stash or fixed savings account with us today at your own terms and grow your savings using our automated plan.</p>
                            <a href="#">View Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- we think global end -->
        
        <!-- choosing resons begin-->
        <div class="choosing-reason">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8">
                        <div class="section-title">
                            <h2>Why choose us</h2>
                            <p>Our core values gives us a distinctive buzz as it to achieve impeccable success we possess great virtues to ensure we stand out.</p>
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-reason">
                            <div class="part-img">
                                <img src="./../../assets/assets2/img/choose-1.jpg" alt="">
                            </div>
                            <div class="part-text">
                                <h3>Transparency & Security</h3>
                                <p>We create a trustworthy environment by ensuring all detailed transaction information is promptly updated on customers dashboard with candor. We invest certain percentage of the funds in dividend-paying money market instrument, pooled investment vehicles to minimize risk and to ensure financial security</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
        
                    
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-reason">
                            <div class="part-img">
                                <img src="./../../assets/assets2/img/choose-3.jpg" alt="">
                            </div>
                            <div class="part-text">
                                <h3>Customer Satisfaction Driven</h3>
                                <p>Our existence is annulling if we do not satisfy our customers. We ensure our best possible is done to provide these services in a way that ultimately satisfies our customer by meeting their needs and giving them the Oliver Twist feeling of coming back for more. </p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-reason">
                            <div class="part-img">
                                <img src="./../../assets/assets2/img/choose-3.jpg" alt="">
                            </div>
                            <div class="part-text">
                                <h3>Easy Cash Out</h3>
                                <p>We have a seamless withdrawal process that allows customers withdraw their funds whenever they want to in the twinkle of an eye. You can withdraw it to any bank, and some packages allows you to withdraw at any of our affiliated outlets or even get airtime recharge. </p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-reason">
                            <div class="part-img">
                                <img src="./../../assets/assets2/img/choose-2.jpg" alt="">
                            </div>
                            <div class="part-text">
                                <h3>Stable & Profitable</h3>
                                <p>COVEST provides best affordable plan to manage, grow and earn money. We offer the best reward which provides high profit for our customer. With our team of expertise, years of experience, business model we achieve stability and ensure we fulfil our brand promise</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- choosing resons end -->


        <!-- inventor begin-->
        <div id="investors">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="section-title text-center">
                            <h2>Our Top Inventors</h2>
                            <p>Put your investing ideas into action with full range of investments.
                                Enjoy real benefits and rewards on your accrue investing.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div class="box">
                            <div class="image">
                                <img class="img-fluid" src="./../../assets/assets2/img/t1.png" alt="">
                                <div class="social_icon">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fas fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info">
                                <h5>Tamim Ubaidah
                                </h5>
                                <p>Web Designer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div class="box">
                            <div class="image">
                                <img class="img-fluid" src="./../../assets/assets2/img/t2.png" alt="">
                                <div class="social_icon">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fas fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info">
                                <h5>Mamunur Rashid</h5>
                                <p>Web Designer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div class="box">
                            <div class="image">
                                <img class="img-fluid" src="./../../assets/assets2/img/t3.png" alt="">
                                <div class="social_icon">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fas fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info">
                                <h5>Rex Rifat</h5>
                                <p>Web Designer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div class="box">
                            <div class="image">
                                <img class="img-fluid" src="./../../assets/assets2/img/t4.png" alt="">
                                <div class="social_icon">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fas fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info">
                                <h5>David Martin</h5>
                                <p>Web Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- inventor end -->
        <page-footer></page-footer>
    </div>
</template>
<script>
export default {
    
}
</script>
<style>

</style>