<template>
    <div>
        <page-nav></page-nav>

            <!-- page title begin-->
        <div class="page-title">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <h2 class="extra-margin">Faq</h2>
                        <p>we have that answer you want to ask about COVEST here, for more information <router-link to="/contact">clicks here</router-link></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- page title end -->

        <!-- faq begin-->
        <div class="faq">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="section-title text-center">
                            <h2>Questions you often ask</h2>
                            <p>Put your investing ideas into action with full range of investments.
                                Enjoy real benefits and rewards on your accrue investing.</p>
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="accordion" id="accordionExample">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne"
                                                    aria-expanded="false" aria-controls="collapseOne">
                                                    What is covest?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                COVEST is a savings and investment platform that encourages students young to imbibe a saving culture and rewards them with interest on their savings.
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Why should I invest in Covest?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body ">
                                                <ol type="1" class="ml-0 pl-0">
                                                    <li>Our portfolio strategy is a conservative one that is designed to reduce risk to the barest minimum, with you never losing your invested capital while guaranteeing a good return.
                                                        <ul class="mt-1 pl-1">
                                                            For our invested capital, a well experienced team of investment analysts and experts access the markets, advise us on best practices, what to invest in per time based on their thorough analysis and manage these investment portfolios to yield the best returns while minimizing the risks or losses, if any.
                                                            <li class="ml-1">Safety first - We invest about 80% of the funds' net assets in dividend-paying money market instruments to minimize the risk to which funds are exposed. </li>
                                                            <li class="ml-1">Higher return - An additional 15% of the fund is invested in other pooled investment vehicles with higher returns. </li>
                                                            <li class="ml-1">Highest return - The remaining 5% of the fund is invested in riskier assets with extremely high returns. </li>
                                                        </ul>
                                                    </li>
                                                    <li>We offer daily payment of dividend accrued on your investment account.</li>
                                                    <li>We offer 40-50% annual interest rate on investment which is compounded daily.</li>
                                                </ol>
                                                
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    What are our bank account details?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <ul>
                                                    <li>Account Name:</li>
                                                    <li>Account Number:</li>
                                                    <li>Bank Name:</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                    data-target="#collapse4" aria-expanded="false" aria-controls="collapseThree">
                                                    How long can I Keep my Money with Covest?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapse4" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <h6>The Fixed Savings Account: </h6>
                                                <p>There is a minimum duration of 90 days and no maximum time limit. Withdrawals can be processed within a week with a 5% penalty fee.</p>
                                                <h6>Flexi Stash Account:</h6>
                                                <p>No minimum or maximum tenor. Money kept here can be accessed at any time without any restrictions or penalties.</p>
                                                <h6>Direct Investment Account</h6>
                                                <p>There is a minimum duration of 90 days and no maximum time limit.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                    data-target="#collapse9" aria-expanded="false" aria-controls="collapseThree">
                                                   How safe is my money?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapse9" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                In addition to investing your money in risk-free and low-risk instruments, invested assets are held by _____________, a company registered with the Securities and Exchange Commission (SEC), on behalf of savers. Also, our team of professionals analysts carefully choose what investments we opt for per time to prevent any losses.
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-xl-6 col-lg-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                    data-target="#collapse5" aria-expanded="false" aria-controls="collapseOne">
                                                    What interest do i earn on my investment?
                                                </button>
                                            </h5>
                                        </div>
        
                                        <div id="collapse5" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                We offer 10% returns on investment for 90 days, 30% returns for 180 days and 50% for 365 days which is determined by the market value for each day.
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                    data-target="#collapse6" aria-expanded="false" aria-controls="collapseTwo">
                                                    When does my investment start to count?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapse6" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                Your investments begin to earn returns from 12 midnight on the next business day. Thereafter, your daily returns are credited to your COVEST account at 12 midnight each day. (since ROI is fixed, expected daily returns are credited to users accounts i.e virtual money)
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                    data-target="#collapse7" aria-expanded="false" aria-controls="collapseThree">
                                                    Can I monitor my savings, investment and earnings?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapse7" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                Yes, you can monitor the daily dividends accrued on your investment on our dashboard.
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                    data-target="#collapse8" aria-expanded="false" aria-controls="collapseThree">
                                                    What is the minimum amount of investment?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapse8" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <h6>The Fixed Savings Account = No minimum</h6>
                                                <h6>Flexi Stash Account = No minimum.</h6>
                                                <h6>Direct Investment Account = N50,000.</h6>
                                            </div>
                                        </div>
                                    </div>
        
                                </div>
        
                            </div>
        
                        </div>
        
                    </div>
                </div>
            </div>
        </div>

        <page-footer></page-footer>
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>

</style>