<template>
    <div>
        <page-nav></page-nav>
        <!-- banner begin-->
        <div class="banner">
            <div class="banner-content">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-xl-6 col-lg-9 d-flex align-items-center">
                            <div class="part-text">
                                <h1>Save routinely &<br/> earn up to 40% <br/>interest on your savings.</h1>
                                <p>At covest We provide safe and high yield investments for our members.</p>
                                <a href="#hiw">Invest Now</a>
                                <a href="/login">Join Us</a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="part-img">
                                <img src="./../../assets/assets2/img/banner-Illustration.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner end -->

        <!-- counter begin-->
        <div class="counter">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-center">
                        <div class="single-counter">
                            <div class="part-icon">
                                <i class="flaticon-group"></i>
                            </div>
                            <div class="part-text">
                                <h3 class="count-num">50,236</h3>
                                <h4>Total Member</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-counter">
                            <div class="part-icon">
                                <i class="flaticon-money"></i>
                            </div>
                            <div class="part-text">
                                <h3 class="count-num">50,236</h3>
                                <h4>Total Deposited</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-center">
                        <div class="single-counter">
                            <div class="part-icon">
                                <i class="flaticon-hand"></i>
                            </div>
                            <div class="part-text">
                                <h3 class="count-num">50,236</h3>
                                <h4>Total Profit</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- counter end -->
        <!-- choosing resons begin-->
        <div class="choosing-reason">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8">
                        <div class="section-title">
                            <h2 id="hiw">How it Works</h2>
                            <p>We help you save and invest your funds under either.</p>
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-reason">
                            <div class="part-img">
                                <img src="./../../assets/assets2/img/choose-1.jpg" alt="">
                            </div>
                            <div class="accordion part-text" id="accordionExample">
                                <h3>Fixed Savings</h3>
                                <p class="mb-0">money kept here is locked for a minimum period of 90days (3months)attracts 
                                    very good interest on the capital during the selected tenor (tenure?). 
                                    The interest will be credited back into the account (covest account) 
                                    routinely until the agreed tenor is reached. There is no minimum amount 
                                    that can be added here. 
                                </p>
                                <div id="collapseOne" class="collapse" data-parent="#accordionExample">
                                    Members during emergencies or 
                                    urgent situations, can choose to withdraw part or all of 
                                    the funds in the fixed savings anytime from the 31st day of savings. 
                                    This withdrawal attracts a penalty of 5%. Members can set up multiple 
                                    fixed accounts for various purposes to suit their needs or meet specific 
                                    goals or targets. E.g school fees FS, Vacation FS
                                </div>
                                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Read More</a>
                                
                            </div>
                        </div>
                    </div>
        
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-reason">
                            <div class="part-img">
                                <img src="./../../assets/assets2/img/choose-2.jpg" alt="">
                            </div>
                            <div class="accordion part-text" id="accordionExample2">
                                <h3>Flexi Savings/Stash</h3>
                                <p class="mb-2">
                                    this account is for regular and random savings. Money kept here can be used to recharge, 
                                    withdrawn anytime at any of our affiliated outlets, or sent to other members and any 
                                    bank account in Nigeria. This account is never locked and does not attract any interest. 
                                    
                                </p>
                                <div id="collapse2" class="collapse" data-parent="#accordionExample2">
                                    Members can create multiple stashes for different purposes to meet their regular needs. 
                                    E.g food stash, fare stash, offering stash, miscellaneous stash, etc
                                </div>
                                <a href="#" class="collapsed mt-4" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Read More</a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-reason">
                            <div class="part-img">
                                <img src="./../../assets/assets2/img/choose-3.jpg" alt="">
                            </div>
                            <div class="accordion part-text" id="accordionExample3">
                                <h3>Direct Investment Account</h3>
                                <p class="mb-0">
                                    this feature is open to everyone, especially those who just wish to strictly invest 
                                    their funds long term and earn good interests up to *40% on these investments. 
                                    This interest is added to the previous capital and a new capital is started 
                                    in the next investment cycle. 
                                </p>
                                <div id="collapse3" class="collapse" data-parent="#accordionExample3">
                                    The capital is compounded at every cycle. 
                                    The minimum amount that can be invested is N50,000. However, a team of up to 
                                    5 members can own a single investment using a group direct investment account.
                                </div>
                                <a href="#" class="collapsed mt-5 mb-2" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- choosing resons end -->



        <!-- video begin-->
        <div class="video pb-5 pt-5">
            <div class="container mb-0">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="play-video">
                            <video class="play-button venobox mfp-iframe" src="../../assets/assets2/img/y.mp4" controls width="100%"><i class="fas fa-play"></i></video>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="section-title text-left">
                            <h2 class="mt-4">Who we are</h2>
                            <p>We are a team of young professional investors working with investment analysts, 
                                investments firms to access the best and viable investments, 
                                per time, to give our members the best yield on a pool of 
                                funds with the least possible risks. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- video end -->

        <!-- about begin -->
        <div class="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-lg-12">
                        <div class="section-title">
                            <h2 id="promise">Our Promise/Uniqueness</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                
                    <div class="col-sm-4 col-lg-4">
                        <div class="single-about text-center">
                            <div class="heading">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="part-text">
                                <h5>Duly Registered</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4">
                        <div class="single-about text-center">
                            <div class="heading">
                                <i class="fa fa-certificate"></i>
                            </div>
                            <div class="part-text">
                                <h5>Cooperative License </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4">
                        <div class="single-about text-center">
                            <div class="heading">
                                <i class="fa fa-cogs"></i>
                            </div>
                            <div class="part-text">
                                <h5>Safety First </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4">
                        <div class="single-about text-center">
                            <div class="heading">
                                <i class="fa fa-lock"></i>
                            </div>
                            <div class="part-text">
                                <h5>All funds are insured </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4">
                        <div class="single-about text-center">
                            <div class="heading">
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="part-text">
                                <h5>Professionalism</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4">
                        <div class="single-about text-center">
                            <div class="heading">
                                <i class="fa fa-signal"></i>
                            </div>
                            <div class="part-text">
                                <h5>High Returns</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about end -->

        <!-- we think global begin-->
        <div class="we-think-global">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-6 col-lg-
                    6 col-md-10 mb-5" >
                        <div class="part-left">
                            <h2 id="hti">How to Save and Invest.</h2>
                            <!-- <p>We are a team of young professional investors working 
                                with investment analysts, investments firms to access the best and viable 
                                investments, per time, to give our members the best yield on a pool of 
                                funds with the least possible risks.
                            </p> -->
                            <ul style="">
                                <li>Register as a COVEST member.</li>
                                <li>Transfer funds to any of COVEST bank accounts OR pay online with any of saved card.</li>
                                <li>Chat us via Whatsapp to confirm payment and specify the account to be credited. </li>
                                <li>Amount is credited to your COVEST account i.e FS, ST or DIA.</li>
                            </ul>
                            <a href="#saveVideo">Watch Video</a>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-10 d-flex align-items-center">
                        <!-- <div class="part-right"> -->
                            <!-- <h3>Start Invest Now</h3>
                            <p>Quis nostrud exercitation ullamco laboris nisi utaliquip
                            commodo consequat. Duis aute feeirure dolor voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <a href="#">View Plan</a> -->
                            <video id="saveVideo" src="../../assets/assets2/img/y.mp4" type="video/mp4" controls width="100%"></video>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- we think global end -->

        <page-footer></page-footer>

        
    </div>    
</template>
<script>
export default {
    
}
</script>
<style scoped>
.about .single-about i{
    font-size:40px;
}
.about .single-about{
    padding: 34px 1px 39px;
}
.we-think-global .part-left ul{
    list-style-type:disc; 
    color:white;
    font-size: 15px;
}
</style>