<template>
    <div>
        <page-nav></page-nav>
        <div class="page-title login-page">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8">
                        <h2 class="extra-margin">Login</h2>
                        <p>Enjoy real benefits and rewards on your accrue investing.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- page title end -->

        <!-- login begin-->
        <div class="contact login-page-content">
            <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="login-page-outer">
                            <div class="login-form-outer">
                                    <div class="section-title text-center">
                                        <h2>Login On <span>Your Account</span></h2>
                                    </div>
                                </div>
                                <form class="contact-form" @submit.prevent="login()">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12">
                                            <div class="form-group">
                                                <label for="InputName">E-mail<span class="requred">*</span></label>
                                                <input v-model="user.email" type="email" class="form-control" id="InputName" name="email" placeholder="Enter Your E-mail address"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12">
                                            <div class="form-group">
                                                <label for="InputAmount">Password<span class="requred">*</span></label>
                                                <input v-model="user.password" type="password" class="form-control" id="InputAmount" name="password" placeholder="Enter Your Password"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12">
                                        <div class="form-group">
                                        <notification></notification>
                                            </div>
                                        </div> 
                                        <div class="col-xl-12 col-lg-12">
                                            <div class="row d-flex">
                                                <div class="col-xl-6 col-lg-6">
                                                    <button type="submit" class="login-button">
                                                        <loader v-if="loading" color="white"></loader>
                                                        <span v-else style="color:white">Login</span>
                                                    </button>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 d-flex align-items-center">
                                                    <router-link to="/forgot-password" class="forgetting-password">Forgot Password?</router-link>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-center mt-5 mb-0 register">
                                            <router-link class="reg col-12 d-block" to="/register">Register Now</router-link>
                                        </div>
                                    </div>
                                </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- login end -->
        <page-footer></page-footer>
    </div>
</template>
<script>
export default {
    data(){
        return {
            user:{
                email:'',
                password:''
            },
            loading:false,
        }
    },
    methods:{
        login(){
            if(this.user.email.length == 0 || this.user.password.length == 0){
                this.$store.commit('setNotification',{type:2,msg:'Email and Password fields are required'});
                return false;
            }

            if(this.loading){
                return false;
            } 
            this.loading=true;
            this.$store.commit('setNotification',{type:0,msg:''});
            this.$store.dispatch('post',{
                details:this.user,
                endpoint:'login'
            })
            .then((data)=>{
                // console.log(data);
                if(data.data.status){
                    // cc
                    var result=data.data.user;
                    result.token=data.data.token;

                    this.$store.commit('setUser',result);
                    // this.$router.push('/dashboard');
                    window.location.href='/dashboard';
                }else{
                    this.$store.commit('setNotification',{type:2,msg:'Invalid login credentials'});
                }
                this.loading=false; 
            })
            .catch((error)=>{
                console.log(error.request);
                if(error.request != null){
                    this.$store.dispatch("handleError",error); 
                }
                this.loading=false;
            });
        }
    }
}
</script>
<style scoped>
.page-title{
    margin-bottom: 86px;
}
.register{
    font-size: 14px;
    color: #575f84;
    font-weight: 600;
}
.reg{
    background: #f3f6ff;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid hsla(225, 100%, 86%, 1);
    width: 100%;
}
</style>