<template>
    <div>
        <page-nav></page-nav>
        <div class="page-title blog-details">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8">
                        <h2 class="extra-margin">Packages</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="price">
            <div class="container">
        
                <div class="row">
        
                    <div class="col-xl-12 col-lg-12">
                        <div class="tab-content" id="myTabContent2">
                            <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="monthly-tab">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-6">
                                        <div class="single-price">
                                            <div class="part-top">
                                                <h3>FIXED SAVINGS ACCOUNT (FSA) </h3>
                                            </div>
                                            <div class="part-bottom">
                                                <ul>
                                                    <li>Features</li>
                                                    <li>No minimum amount to get started</li>
                                                    <li>Part or all of the funds here can be withdrawn during emergency after the 31st day of savings with a penalty of 5% of Fixed Savings Account.</li>
                                                    <li>Customization and setting up of multiple accounts for various purposes e.g; MyTuition FSA, MyRent FSA, FoodStuff FSA, Vacation FSA etc.</li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="col-xl-8 col-lg-8 col-md-6">
                                        <div class="single-price special">
                                            <div class="part-bottom">
                                                <div>
                                                    <h4>ABOUT FSA</h4>
                                                    <p class="mt-3">Money kept in the Fixed Savings Account is locked for a minimum period of 90days i.e 3months and attracts very good interest on the capital during the selected tenor. The interest will be credited back into the FS Account daily until the agreed tenor is reached.</p>
                                                </div>
                                                <a href="">How to get Started</a>
                                                <ul class="text-left">
                                                    <li>Register or Log in.</li>
                                                    <li>Transfer funds or pay online via card payment.</li>
                                                    <li>Chat us via WhatsApp to confirm payment if transfer method is used.</li>
                                                    <li>Amount is credited to your COVEST account i.e Fixed Savings Account.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-12 mt-5">
                        <div class="tab-content" id="myTabContent2">
                            <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="monthly-tab">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-6">
                                        <div class="single-price">
                                            <div class="part-top">
                                                <h3>Flexi Stash (FS)</h3>
                                            </div>
                                            <div class="part-bottom">
                                                <ul>
                                                    <li>Features</li>
                                                    <li>This account does not attract any interest</li>
                                                    <li>The account is never locked and money kept here can be withdrawn anytime</li>
                                                    <li>Customization and setting up of multiple stash accounts for various purposes especially regular need e.g; Hair Stash, Food Stash, Transportation Stash, Offering Stash, Makeup Stash, Airtime & data Stash, Miscellaneous Stash etc.</li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="col-xl-8 col-lg-8 col-md-6">
                                        <div class="single-price special">
                                            <div class="part-bottom">
                                                <div>
                                                    <h4>ABOUT FS</h4>
                                                    <p class="mt-3">This account is for regular and random savings. It is helps to curb incessant spending and to ensure a money is kept for when needed. Money kept here is easily accessible, it can also be withdrawn anytime at any of our affiliated outlets, or transferred to any bank account in Nigeria.</p>
                                                </div>
                                                <a href="">How to get Started</a>
                                                <ul class="text-left">
                                                    <li>Register or Log in.</li>
                                                    <li>Transfer funds or pay online via card payment.</li>
                                                    <li>Chat us via WhatsApp to confirm payment if transfer method is used.</li>
                                                    <li>Amount is credited to your COVEST account i.e Flexi Stash.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-12 mt-5">
                        <div class="tab-content" id="myTabContent2">
                            <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="monthly-tab">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-6">
                                        <div class="single-price">
                                            <div class="part-top">
                                                <h3>Direct Investment Account (DIA)</h3>
                                            </div>
                                            <div class="part-bottom">
                                                <ul>
                                                    <li>Features</li>
                                                    <li>Minimum amount of 50,000 naira</li>
                                                    <li>40% interest per annum</li>
                                                    <li>Least investment period is 3 months.</li>
                                                    <li>a team of up to 5 members can own a single investment using a group direct investment account.</li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="col-xl-8 col-lg-8 col-md-6">
                                        <div class="single-price special">
                                            <div class="part-bottom">
                                                <div>
                                                    <h4>ABOUT FS</h4>
                                                    <p class="mt-3">This feature is open to everyone, especially those who just wish to strictly invest their funds long term and earn good interests up to 40% on these investments.</p>
                                                </div>
                                                <a href="">How to get Started</a>
                                                <ul class="text-left">
                                                    <li>Register or Log in.</li>
                                                    <li>Transfer funds or pay online via card payment.</li>
                                                    <li>Chat us via WhatsApp to confirm payment if transfer method is used.</li>
                                                    <li>Amount is credited to your COVEST account i.e Direct Investment Account.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <page-footer></page-footer>
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>

</style>