<template>
    <div>
        <page-nav></page-nav>
        <div class="page-title login-page">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8">
                        <h2 class="extra-margin">Register</h2>
                        <p>Enjoy real benefits and rewards on your accrue investing.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- page title end -->

        <!-- login begin-->
        <div class="contact login-page-content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="login-page-outer">
                            <div class="login-form-outer">
                                <div class="section-title text-center">
                                    <h2>Register <span>An Account</span></h2>
                                </div>
                            </div>
                            <form class="contact-form" @submit.prevent="validateData">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="FirstName">Firstname<span class="">*</span></label>
                                            <input type="text" class="form-control" id="FirstName" placeholder="Enter Your Firstname"
                                                required v-model="data.firstname">

                                                <p class="text-danger" v-if="errors.firstname.status">{{errors.firstname.message}}</p>
                                        </div>
                                    </div> 
                                     <div class="col-xl-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="FirstName">Lastname<span class="">*</span></label>
                                            <input type="text" class="form-control" id="Lastname" placeholder="Enter Your Lastname"
                                                required v-model="data.lastname">

                                                <p class="text-danger" v-if="errors.lastname.status">{{errors.lastname.message}}</p>
                                        </div>
                                    </div> 
                                    <div class="col-xl-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="InputAmount">E-mail<span class="">*</span></label>
                                            <input type="email" class="form-control" id="InputAmount" placeholder="Enter Your E-mail Address"
                                                required v-model="data.email">
                                                <p class="text-danger" v-if="errors.email.status">{{errors.email.message}}</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="phone">Phone<span class="">*</span></label>
                                            <input type="tel" class="form-control" id="phone" placeholder="Enter Phone Number"
                                                required v-model="data.phone">
                                                <p class="text-danger" v-if="errors.phone.status">{{errors.phone.message}}</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="password">Password<span class="">*</span></label>
                                            <input type="password" class="form-control" v-model="data.password" id="password" placeholder="Enter Password"
                                                required>
                                                <p class="text-danger" v-if="errors.password.status">{{errors.password.message}}</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="password">Confirm Password<span class="">*</span></label>
                                            <input type="password" class="form-control" v-model="data.confirm_password" id="password" placeholder="Enter Password Again"
                                                required>
                                                <p class="text-danger" v-if="errors.confirm_password.status">{{errors.confirm_password.message}}</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12">
                                        <div class="form-group">
                                           <notification></notification>
                                        </div>
                                    </div>
                                    
                                    <div class="col-xl-12 col-lg-12">
                                        <div class="row d-flex text-center">
                                            <div class="col-xl-12 col-lg-12 ">
                                                <button type="submit" class="login-button">
                                                    <loader v-if="loading" color="white"></loader>
                                                    <span v-else style="color:white">Register</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center mt-5 mb-0 register">
                                        <router-link class="reg col-12 d-block" to="/login">Already have an Account? Login</router-link>
                                    </div>
                                </div>
                            </form>
                        </div>
                   </div>
                </div>
            </div>
        </div>
        <!-- login end -->
        <page-footer></page-footer>
    </div>
</template>
<script>
export default {
    data(){
        return {
            data: {
                firstname:'',
                lastname:'',
                email:'',
                phone:'',
                password:'',
                confirm_password:''
            },
            errors:{
                firstname:{
                    status:false,
                    message:'Enter your firsname'
                }, 
                lastname:{
                    status:false,
                    message:'Enter your lastname'
                },
                email:{
                    status:false,
                    message:'Enter your email'
                },
                phone:{
                    status:false,
                    message:'Enter your phone number'
                },
                password:{
                    status:false,
                    message:'Enter your password'
                },
                confirm_password:{
                    status:false,
                    message:'Enter your confirm password'
                }
            },
            loading:false
        }
    },
    methods:{
        validateData(){
            if(this.data.firstname.trim().length == 0 || !this.data.firstname.match(/^\w+/)){
                this.errors.firstname.status=true;
                this.errors.firstname.message='Invalid FirstName';
                // console.log('First not validate'); 
            } 
            else{
                this.errors.firstname.status=false;
            }
            if(this.data.lastname.trim().length == 0 || !this.data.lastname.match(/^\w+/)){
                this.errors.lastname.status=true;
                this.errors.lastname.message='Invalid FirstName';
                // console.log('First not validate'); 
            } 
            else{
                this.errors.lastname.status=false;
            }
            if(this.data.email.trim().length == 0){
                this.errors.email.status=true;
                this.errors.email.message='Invalid Email';
                // console.log('Email not validate');
            }
            else{
                this.errors.email.status=false;
            }
            if(this.data.phone.trim().length == 0 || !this.data.phone.match(/^\d*$/)){
                this.errors.phone.status=true;
                this.errors.phone.message='Invalid Phone Number';
                // console.log('Phone not validate');
            }
            else{
                this.errors.phone.status=false;
            }
            if(this.data.password.length < 7){
                this.errors.password.status=true;
                this.errors.password.message='Password must be greater than 8';
                // console.log('Password is Invalid');
            }
            else{
                this.errors.password.status=false;
            }
            if(this.data.password != this.data.confirm_password){
                this.errors.confirm_password.status=true;
                this.errors.confirm_password.message='Password and Confirm Password must be the same';
                // console.log('Password is Invalid');
            }
            else{
                this.errors.password.status=false;
            }
            var errorExist=false;
            for(var error in this.errors){ 
                if(this.errors[error].status == true){
                    errorExist=true; 
                    return false;
                }
            }

            if(!errorExist){
                // console.log(this.data);
                this.createAccount();
            }
            

        },
        createAccount(){
            if(this.loading){
                return false;
            }

            if(this.data.password != this.data.confirm_password){
                this.$store.commit('setNotification',{type:2,msg:"Password doesn't match"});
                return false;
            }

            this.data.password_confirmation=this.data.confirm_password;
            this.loading=true;
            this.$store.commit('setNotification',{type:0,msg:''});
            this.$store.dispatch('post',{
                details:this.data,
                endpoint:'create-account'
            })
            .then((data)=>{
                 console.log(data);
                this.loading=false;
                this.$store.commit('setNotification',{type:1,msg:'Your registration was successfull.Kindy check your mail to verify your account using the verification link that we sent to you.'});
                this.$router.push('/login');
                this.data={
                    firstname:'',
                    lastname:'',
                    email:'',
                    phone:'',
                    password:''
                };
            })
            .catch((error)=>{
                console.log(error.request);
                if(error.request != null){
                    this.$store.dispatch("handleError",error); 
                }
                this.loading=false;
            });
        }
    },
    created:function(){
        
    }
}
</script>
<style scoped>
.page-title{
    margin-bottom: 86px;
}
.register{
    font-size: 14px;
    color: #575f84;
    font-weight: 600;
}
.reg{
    background: #f3f6ff;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid hsla(225, 100%, 86%, 1);
    width: 100%;
}
</style>