<template>
    <div>
        <page-nav></page-nav>
        <div class="page-title login-page">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8">
                        <h2 class="extra-margin">ACCOUNT VERIFICATION</h2>
                        <p>Enjoy real benefits and rewards on your accrue investing.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- page title end -->

        <!-- login begin-->
        <div class="contact login-page-content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="login-page-outer"> 
                            <form class="contact-form" @submit.prevent="reset()">
                                <div class="row"> 
                                    <div class="col-xl-12 col-lg-12">
                                        <loader v-if="loading" color="orange"></loader> 
                                        <router-link  style="text-align: center;display:block" to="/forgot-password" v-if="expired" type="submit" class="login-button"> 
                                            <button  type="button"  class="login-button">RESET PASSWORD</button>
                                        </router-link>
                                        <div v-if="verified" class="col-xl-12 col-lg-12">
                                            <div class="form-group">
                                                <label for="InputAmount">Password<span class="requred">*</span></label>
                                                <input v-model="user.password" type="password" class="form-control" id="InputAmount" name="password" placeholder="Enter Your Password"
                                                    required>
                                            </div>
                                        </div>
                                        <div v-if="verified" class="col-xl-12 col-lg-12">
                                            <div class="form-group">
                                                <label for="InputAmount">Confirm Password<span class="requred">*</span></label>
                                                <input v-model="user.password_confirmation" type="password" class="form-control" id="InputAmount" name="password" placeholder="Enter Your Password"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                           <notification></notification>
                                        </div>
                                        <div v-if="verified" class="col-xl-12 col-lg-12">
                                            <div class="row d-flex">
                                                <div class="col-xl-6 col-lg-6">
                                                    <button type="submit" class="login-button">
                                                        <loader v-if="loading" color="white"></loader>
                                                        <span v-else style="color:white">RESET</span>
                                                    </button>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                   </div>
                </div>
            </div>
        </div>
        <!-- login end -->
        <page-footer></page-footer>
    </div>
</template>
<script>
export default {
    data(){
        return {
            loading:true,
            verified:false,
            expired:false,
            user:{
                password:'',
                password_confirmation:'',
                token:''
            }
        }
    },
    methods:{ 
        verifyAccount(){ 
            this.loading=true;
            this.$store.commit('setNotification',{type:0,msg:''});
            this.$store.dispatch('get','verify-reset-token?code='+this.$route.params.token)
            .then((data)=>{
                console.log(data);
                this.loading=false;
                if(data.data.status){
                    this.verified=true;
                    this.user.token=this.$route.params.token;
                }else{
                    this.expired=true;
                    this.$store.commit('setNotification',{type:2,msg:'Expired or Invalid reset link. <br> Please try resetting your password again.'});  
                }
            })
            .catch((error)=>{
                console.log(error.request);
                if(error.request != null){
                    this.$store.dispatch("handleError",error); 
                }
                this.loading=false;
            });
        },
        reset(){
            if(this.user.password_confirmation.length == 0 || this.user.password.length == 0){
                this.$store.commit('setNotification',{type:2,msg:'Password and Confirm password fields are required'});
                return false;
            }

            if(this.user.password_confirmation != this.user.password){
                this.$store.commit('setNotification',{type:2,msg:"password doesn't match"});
                return false;
            }

            if(this.loading){
                return false;
            } 
            this.loading=true;
            this.$store.commit('setNotification',{type:0,msg:''});
            this.$store.dispatch('post',{
                details:this.user,
                endpoint:'reset-password'
            })
            .then((data)=>{
                console.log(data);
                if(data.data.status){
                    this.$store.commit('setNotification',{type:1,msg:'Your password reset was successfull.'});
                    this.$router.push('/login');
                }else{
                    this.$store.commit('setNotification',{type:2,msg:'unknown error'});
                }
                this.loading=false; 
            })
            .catch((error)=>{
                console.log(error.request);
                if(error.request != null){
                    this.$store.dispatch("handleError",error); 
                }
                this.loading=false;
            });
        }
    },
    created(){
        this.verifyAccount();
    }
}
</script>
<style scoped>
.page-title{
    margin-bottom: 86px;
}
.register{
    font-size: 14px;
    color: #575f84;
    font-weight: 600;
}
</style>