<template>
    <div>
        <page-nav></page-nav>
        <div class="page-title login-page">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8">
                        <h2 class="extra-margin">ACCOUNT VERIFICATION</h2>
                        <p>Enjoy real benefits and rewards on your accrue investing.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- page title end -->

        <!-- login begin-->
        <div class="contact login-page-content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="login-page-outer"> 
                            <form class="contact-form" @submit.prevent="validateData">
                                <div class="row"> 
                                    <div class="col-xl-12 col-lg-12">
                                        <div class="form-group">
                                           <notification></notification>
                                        </div>
                                        <loader v-if="loading" color="orange"></loader> 
                                        <router-link  style="text-align: center;display:block" to="/login" v-if="verified" type="submit" class="login-button"> 
                                            <button  type="submit"  class="login-button">SIGN IN</button>
                                        </router-link>
                                        
                                    </div>
                                </div>
                            </form>
                        </div>
                   </div>
                </div>
            </div>
        </div>
        <!-- login end -->
        <page-footer></page-footer>
    </div>
</template>
<script>
export default {
    data(){
        return {
            loading:true,
            verified:false
        }
    },
    methods:{ 
        verifyAccount(){ 
            this.loading=true;
            this.$store.commit('setNotification',{type:0,msg:''});
            this.$store.dispatch('get','verify-account?code='+this.$route.query.code)
            .then((data)=>{
                console.log(data);
                this.loading=false;
                if(data.data.status){
                    this.$store.commit('setNotification',{type:1,msg:'Congratulations,your account has been verified .please proceed to login'});  
                    this.verified=true;
                }else{
                    this.$store.commit('setNotification',{type:2,msg:'Expired or Invalid verification link. <br> Please contact us'});  
                }
            })
            .catch((error)=>{
                console.log(error.request);
                if(error.request != null){
                    this.$store.dispatch("handleError",error); 
                }
                this.loading=false;
            });
        }
    },
    created(){
        this.verifyAccount();
    }
}
</script>
<style scoped>
.page-title{
    margin-bottom: 86px;
}
.register{
    font-size: 14px;
    color: #575f84;
    font-weight: 600;
}
</style>