<template>
    <div>
        <loader v-if="loading" color='red'></loader>
        <div class="ms-panel-body mt-0 pt-0">
            <div class="row">
                <div class="col-12">
                  <notification></notification>
                </div>
                <div class="col-md-3 col-sm-6 bh"> 
                    <button  class="btn btn-success" data-toggle="modal" data-target="#modal-3"><i class="fa fa-plus"></i> Add Card Details </button>
                </div>
                <div class="modal fade" id="modal-3" tabindex="-1" role="dialog" aria-labelledby="modal-3" style="">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content"> 
                            <div class="modal-header">
                                <h4 style="font-weight: lighter;" class="modal-title has-icon ms-icon-round ">ADD NEW CARD</h4>
                                <button type="button" class="close" data-dismiss="modal" id="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div> 
                            <div class="modal-body">
                                <div v-if="!added && !savingError && !verifyError" class="alert alert-warning">
                                  <p>You will be charged NGN10.00 while adding a new card. <br>  The amount charged during this process will be added to your STARCH account. <br> This first charge is to ensure that the card or account is valid and can be charged. </p>
                                </div> 
                                <div style="text-align: center;" v-if="!added && savingError && !verifyError" class="alert alert-danger">
                                  <p>Error occured while saving your card details.Please try again</p>
                                  <button style="margin:auto" class="btn btn-success btn-sm" @click="saveCard()">Try again</button>
                                </div> 

                                <div style="text-align: center;" v-if="!added && verifyError && !savingError" class="alert alert-danger">
                                  <p>Error occured while verifying your card details.Please try again</p>
                                  <button style="margin:auto"  class="btn btn-success btn-sm" @click="verifyRef()">Try again</button>
                                </div> 
                                
                                <div style="width: 400px;margin: auto;" class="ms-wizard-step">
                                    <div v-if="!loader" id="paystackEmbedContainer" class="mt-2"></div>
                                    <loader v-if="loader" color='red'></loader>
                                    
                                    <notification></notification>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="row">
            <div v-for="(card,index) in cards" :key="index" class=" col-md-6 col-lg-4"> 
              <div class="ms-panel ms-panel-fh">
                <div class="ms-panel-body">
                  <h4 class="section-title bold">{{card.card_type}}</h4>
                  <table class="table ms-profile-information">
                    <tbody>
                      <tr>
                        <th scope="row">Name</th>
                        <td class="gry"><span>{{card.account_name}}</span></td>
                      </tr>
                      <tr>
                        <th scope="row">Card Number</th>
                        <td class="gry"><span>**** **** **** {{card.last4}}</span></td>
                      </tr>
                      <tr>
                        <th scope="row">Availiblity</th>
                        <td>
                          <span v-if="card.status == 1" class="badge badge-pill badge-success">Active</span>
                          <span v-else class="badge badge-pill badge-primary">Decline</span>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Expire</th>
                        <td class="gry"><span>10/2020</span></td>
                      </tr>

                      <tr>
                        <th scope="row">Cvv</th>
                        <td class="gry"><span>***</span></td>
                      </tr>

                    </tbody>
                  </table>
                  <div class="new"> 
                    <button @click="deleteCard(card.id)" type="button" class="btn btn-primary btn-sm" style="min-width:50px">Delete</button>
                  </div>

                </div>
              </div>
            </div> 
        </div>
    </div>
</template>

<script> 
export default {
    data(){
      return{ 
        loader:false,
        added:false,
        cards:[],
        result:null,
        reference:null,
        savingError:false,
        verifyError:false,
        loading:false,
      }
    },
    mounted() {
          var context=this;
          // console.log(context.$store.state.user.email);
          window.PaystackPop.setup({
            key: process.env.VUE_APP_P,
            email: context.$store.state.user.email,
            amount: 1000,
            container: 'paystackEmbedContainer',
            callback: function(response){
                // alert('successfully subscribed. transaction ref is ' + response.reference);
                // console.log(response);
                context.reference=response.reference;
                context.verifyRef();
            },
          }); 
          // console.log('setup');
          // console.log(this.reference) //me
      },
    methods:{
        deleteCard(id){
          if(confirm("Are you sure you want to delete this card?")){
              this.$store.dispatch('get','delete-card/'+id+"?token="+this.$store.state.token)
              .then((data)=>{
                console.log(data);
                  if(data.data.status){
                    this.$store.commit('setNotification',{type:1,msg:'Card was removed successfully.'});
                    this.cards=this.cards.filter((d)=>d.id != id);
                  }else{
                    this.$store.commit('setNotification',{type:2,msg:'Error occured while removing card'});
                  }
              })
              .catch(()=>{
                this.$store.commit('setNotification',{type:2,msg:'Error occured while removing card'});
              });
          }
        }, 
        verifyRef(){
          var ref=this.reference;
          this.loader=true;
          this.added=false;
          this.verifyError=false;
          this.$store.dispatch('getRaw','https://api.paystack.co/transaction/verify/'+ref)
          .then((data)=>{
            console.log(data);  //me 
            this.result=data.data.data;
            this.saveCard();
            // this.loader=false;
          })
          .catch((error)=>{
            console.log(error);
            this.loader=false;
            this.verifyError=true;
          });
        },
        saveCard(){
            var result=this.result;
            this.savingError=false;
            this.loader=true;
            var payload={
              authorization_code:result.authorization.authorization_code,
              last4:result.authorization.last4,
              exp_month:result.authorization.exp_month,
              exp_year:result.authorization.exp_year,
              account_name:result.authorization.account_name,
              card_type:result.authorization.card_type,
              customer_code:result.customer.customer_code,
              reference:result.reference, 
            };
            this.$store.dispatch('post',{
              details:payload,
              endpoint:'add-new-card?token='+this.$store.state.token
            })
            .then((d)=>{
              console.log(d);
              if(d.data.status){
                this.added=true;
                this.$store.commit('setNotification',{type:1,msg:'New card was added successfully'});
                this.cards.push(d.data.data);
                document.getElementById('close').click();
                
              }else{
                this.savingError=true;
              }
              this.loader=false;
            })
            .catch((error)=>{
              console.log(error.request);
              this.loader=false;
              this.savingError=true;
            });
        }
    },
    created(){
      this.loading=true;
      this.$store.dispatch('get','get-cards?token='+this.$store.state.token)
      .then((data)=>{
        this.cards=data.data;
        // console.log( data.data) //me
        this.loading=false;
      })
      .catch(()=>{
        // console.log(error.request);
        this.loading=false;
      })
    }
}
</script>
<style scoped>
    .ms-wizard-step{
      max-width: 100% !important;
    }
    @media (min-width: 576px){
        .modal-dialog {
            max-width: 668px;
            margin: 1.75rem auto;
        }
    }
    .ms-payment-container{
        margin-bottom:0;
    }
    .ms-panel-body .bh{
        padding-left: 0;
    }
    td.gry span{
        background: #fafafa;
        padding: 4px 9px;
        display: block;
        border-radius: 2px;
        text-align: right;
    }
</style>
