<template>
        <!-- Main Content --> 
        <div>
          <div class="ms-content-wrapper">
          <div class="row">
            <div class="col-md-12">
              <h1 class="db-header-title">Welcome, {{user.fullname}}</h1>
            </div>
            <div v-if="user.email_verified_at == null" class="col-12 alert alert-danger">
              <p class="m-0 p-0">Your email-address has not been verified.Kindly visit your mail and click on the verification link we sent to you.</p>
              <a v-if="!resent" @click="resend()" href="#">Resend verification mail</a>
              <b v-else class="text-success">Verification mail has been sent.</b>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
              <div class="ms-card ms-widget has-graph-full-width ms-infographics-widget">
                <!-- <span class="ms-chart-label bg-black"><i class="material-icons">arrow_upward</i> 3.2%</span> -->
                <div class="ms-card-body media">
                  <div class="media-body">
                    <span class="black-text"><strong>Fixed Savings</strong></span>
                    <h2>
                      <money-format 
                        :value="fixed"
                        locale='en' 
                        currency-code='NGN' 
                        ></money-format>
                    </h2>
                  </div>
                </div>
                <canvas id="line-chart"></canvas>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
              <div class="ms-card ms-widget has-graph-full-width ms-infographics-widget">
                <!-- <span class="ms-chart-label bg-red"><i class="material-icons">arrow_downward</i> 4.5%</span> -->
                <div class="ms-card-body media">
                  <div class="media-body">
                    <span class="black-text"><strong>Stash Savings</strong></span>
                    <h2> 
                      <money-format 
                      :value="user.stash == null ? 0: user.stash.amount"
                      locale='en' 
                      currency-code='NGN' 
                      ></money-format>
                    </h2>
                  </div>
                </div>
                <canvas id="line-chart-2"></canvas>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
              <div class="ms-card ms-widget has-graph-full-width ms-infographics-widget">
                <!-- <span class="ms-chart-label bg-black"><i class="material-icons">arrow_upward</i> 12.5%</span> -->
                <div class="ms-card-body media">
                  <div class="media-body">
                    <span class="black-text"><strong>Investment</strong></span>
                    <h2> 
                      <money-format 
                      :value="investment_bal"
                      locale='en' 
                      currency-code='NGN' 
                      ></money-format>
                    </h2>
                  </div>
                </div>
                <canvas id="line-chart-3"></canvas>
              </div>
            </div>
            <!-- <div class="col-xl-3 col-lg-6 col-md-6">
              <div class="ms-card ms-widget has-graph-full-width ms-infographics-widget">
                <span class="ms-chart-label bg-red"><i class="material-icons">arrow_upward</i> 9.5%</span>
                <div class="ms-card-body media">
                  <div class="media-body">
                    <span class="black-text"><strong>Total Orders</strong></span>
                    <h2>48,973</h2>
                  </div>
                </div>
                <canvas id="line-chart-4"></canvas>
              </div>
            </div> -->
            <!-- Recent Orders Requested -->
            <!-- <div class="col-xl-6 col-md-12">
              <div class="ms-panel">
                <div class="ms-panel-header">
                  <div class="d-flex justify-content-between">
                    <div class="align-self-center align-left">
                      <h6>Recent Transactions</h6>
                    </div>
                    <button type="button" class="btn btn-primary">View All</button>
                  </div>
                </div>
                <div class="ms-panel-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Food Item</th>
                          <th scope="col">Price</th>
                          <th scope="col">Product ID</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="ms-table-f-w"> <img src="./../../assets/assets1/img/costic/pizza.jpg" alt="people"> Pizza </td>
                          <td>$19.99</td>
                          <td>67384917</td>
                        </tr>
                        <tr>
                          <td class="ms-table-f-w"> <img src="./../../assets/assets1/img/costic/french-fries.jpg" alt="people"> French Fries </td>
                          <td>$14.59</td>
                          <td>789393819</td>
                        </tr>
                        <tr>
                          <td class="ms-table-f-w"> <img src="./../../assets/assets1/img/costic/cereals.jpg" alt="people"> Multigrain Hot Cereal </td>
                          <td>$25.22</td>
                          <td>137893137</td>
                        </tr>
                        <tr>
                          <td class="ms-table-f-w"> <img src="./../../assets/assets1/img/costic/egg-sandwich.jpg" alt="people"> Fried Egg Sandwich </td>
                          <td>$11.23</td>
                          <td>235193138</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div> 
        </div>
</template>
<script>
import { mapState } from 'vuex'; 
export default {
  computed:{
    ...mapState({
      user:(context)=>context.user, 
      endpoint:(context)=>context.endpoint
    })
  },
  data(){
    return {
      fixed:0,
      investment_bal:0,
      resent:false,
    }
  },
  methods:{
    resend(){
      
      this.$store.dispatch('get','resend-verification/'+this.user.id)
      .then((data)=>{
        console.log(data); 
      })
      .catch((error)=>{
        console.log(error.request);
      });
      this.resent=true;
    }
  },
  mounted(){
    console.log(this.user);
    
  },
  created(){ 
    this.$store.dispatch('getDashboard')
    .then((data)=>{
      console.log(data); 
      this.fixed=data.data.fixed;
      this.investment_bal=data.data.investment_bal;
    })
    .catch((error)=>{
      console.log(error.request);
    })
  }
}
</script>
<style>
 
</style>