<template>
    <div>
        
        <div class="ms-content-wrapper">
            <div class="row">
                <div class="col-xl-10 col-md-12">
                    <div v-if="globalError" class="col-12 mb-2">
                        <notification></notification>
                    </div>
                    <div class="ms-panel ms-panel-fh">
                        <div class="ms-panel-header d-flex" style="justify-content:space-between">
                            <h3>FIXED SAVINGS</h3>
                            <loader v-if="loading && globalLoading" color='red'></loader>
                        </div>
                        <div v-if="loaded" class="ms-panel-body">
                            <form class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Name</label>
                                    <input v-model="fixed.label" type="text" class="form-control" id="name" placeholder="Label your savings">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">Savings Plan</label>
                                    <select @change="updatePlan()" name="" id="" class="form-control" v-model="fixed.plan">
                                        <option value=""> How often do you want to save </option>
                                        <option value="monthly">Monthly</option>
                                        <option value="weekly">Weekly</option>
                                        <option value="daily">Daily</option>
                                    </select>
                                </div>
                                <div v-if="fixed.plan != '' && fixed.plan == 'monthly'" class="form-group col-md-6">
                                    <label for="">Date</label>
                                    <select name="" id="" class="form-control" v-model="fixed.plan_date">
                                        <option value=""> On what date of every month? </option>
                                        <option v-for="(date,index) in dates" :key="index" :value="date">{{date}}</option> 
                                    </select>
                                </div>
                                
                                <div v-if="fixed.plan != '' && fixed.plan == 'weekly'" class="form-group col-md-6">
                                    <label for="">Day of the week</label>
                                    <select name="" id="" class="form-control" v-model="fixed.plan_day">
                                        <option value=""> On what day of the week </option>
                                        <option v-for="(day,index) in days" :key="index" :value="day">{{day}}</option> 
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="">Time</label>
                                    <select class="form-control" id="select2">
                                        <option value="">Which time of the day </option>
                                        <option v-for="(time,index) in times" :key="index" :value="time">{{time}}</option> 
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="">Select card</label>
                                    <select name="" id="" class="form-control" v-model="fixed.card">
                                        <option value="">Select the card to debit </option>
                                        <option v-for="(card,index) in cards" :key="index" :value="card.id">{{card.card_type+'  ************'+card.last4+' Expiry :'+card.exp_month+'/'+card.exp_year}}</option> 
                                    </select>
                                </div>

                                <div class="form-group col-md-3">
                                    <label for="amount">Amount</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">₦</div>
                                        </div>
                                        <input v-model="fixed.amount" type="number" class="form-control" id="amount" placeholder="How much do you want to save per time">
                                    </div>
                                </div> 
                                <div class="form-group col-md-3">
                                    <label for="date">Withdrawal Date</label>
                                    <datetime v-bind:min-datetime="new Date().toISOString()" class="form-group" v-model="fixed.withdrawal_date"></datetime>
                                </div>
                                <div v-if="!globalError" class="col-12 mb-2">
                                    <notification></notification>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" @click="updateSaving()" class="btn btn-success ">
                                        <loader v-if="loading && !globalLoading" color='white'></loader>
                                        <span v-else>SAVE</span>
                                    </button>

                                    <!-- <button type="button" @click="updateSaving()" class="btn btn-success ">
                                        <loader v-if="loading && !globalLoading" color='white'></loader>
                                        <span v-else> <i class="fa fa-delete"></i> DELETE</span>
                                    </button> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex';

export default {
    data(){
        return {
            fixed:{
                label:'',
                plan:'',
                plan_date:'',
                plan_day:'',
                withdrawal_date:"",
                time:'',
                amount:0,
                card:0
            },
            dates:[
                '1st','2nd','3rd','4th','5th','6th','7th','8th','9th','10th','11th','12th','13th','14th',
                '15th','16th','17th','18th','19th','20th','21st','22nd','23rd','24th','25th','26th','27th',
                '28th','29th','30th','31st'
            ],
            days:['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'],
            times:[
                '12am','11am','10am','9am','8am','7am','6am','5am','4am','3am','2am','1am',
                '12pm','11pm','10pm','9pm','8pm','7pm','6pm','5pm','4pm','3pm','2pm','1pm',
            ],
            cards:[],
            loading:false,
            loaded:false,
            globalError:false,
            globalLoading:false,
            saving:{fixed:{},card:{}},
        }
    },
    computed:{
        ...mapState({
            user:(state)=> state.user,
            token:(state)=> state.token,
        })
    },
    methods:{
        createPlan(){ 

            if(this.loading){
                return false;
            }
 
            if(this.fixed.label.length == 0 ||
               this.fixed.plan.length == 0 || 
               this.fixed.withdrawal_date.length == 0 ||
               this.fixed.time.length == 0 ||
               this.fixed.amount == 0||
               this.fixed.card == 0 ){
                this.$store.commit('setNotification',{type:2,msg:'All fields are required.'});
                return false;
            }

            if(this.fixed.amount < 100){
                this.$store.commit('setNotification',{type:2,msg:'You cant save lesser than NGN 100'});
                return false;
            }

            this.loading=true;
            this.fixed.withdrawal_date=this.fixed.withdrawal_date.split('T')[0];
            this.$store.dispatch('post',{endpoint:'add-fixed-saving?token='+this.token,details:this.fixed})
            .then((data)=>{
                console.log(data);
                this.$store.commit('setNotification',{type:1,msg:'Savings has been created successfully'});
                this.fixed={label:'',plan:'',plan_date:'',plan_day:'',withdrawal_date:"",time:'',amount:0,card:0};
                this.loading=false;
            })
            .catch((error)=>{
                console.log(error.request);
                this.loading=false;
            })
        },
        updateSaving(){
            this.pauseLoading=true;
            var data=this.fixed;
            data.withdrawal_date=data.withdrawal_date.split('T')[0];
            console.log(data);
            this.$store.dispatch('post',{
                endpoint:'update-fixed-saving/'+this.saving.id+'?token='+this.token,
                details:data
            })
            .then((data)=>{
                console.log(data);
                this.saving=data.data;
                this.pauseLoading=false;
                this.$store.commit('setNotification',{type:1,msg:this.saving.title+' has been updated'})

                this.$router.push('/dashboard/fixed-savings/view/'+data.data.id);
            })
            .catch((error)=>{
                console.log(error.request);
                this.pauseLoading=false;
                this.$store.commit('setNotification',{type:2,msg:'Unexpected error occured. please try again'});
            });
        },
        updatePlan(){
            if(this.fixed.plan != 'monthly'){
                this.fixed.plan_date='';
            }
            if(this.fixed.plan != 'weekly'){
                this.fixed.plan_day='';
            }
        },
    },
    mounted(){
      
    },
    created(){
        this.loading=true;
        this.globalLoading=true;
        this.$store.dispatch('get','get-fixed-saving/'+this.$route.params.id+'?token='+this.token)
        .then((data)=>{
            console.log(data);
            this.loading=false;
            this.loaded=true;
            this.globalLoading=false;
            this.saving=data.data; 

            this.fixed={
                label:this.saving.title,
                plan:this.saving.plan,
                plan_date:this.saving.plan_date,
                plan_day:this.saving.plan_day,
                withdrawal_date:this.saving.withdrawal_date,
                time:this.saving.time,
                amount:this.saving.amount,
                card:this.saving.card.id
            };

            setTimeout(()=>{
                var dateBox=document.getElementsByClassName('vdatetime-input')[0];
                dateBox.classList.add('form-control');
                dateBox.placeholder="When would you like to break your savings and make withdrawal";
                var context=this;
                window.$('#select2').val(this.fixed.time).select2().change(()=>{
                    context.fixed.time=window.$('#select2').val();
                });
            },100);
        })
        .catch((error)=>{
            console.log(error.request);
            this.loading=false;
            this.globalLoading=false;
            this.globalError=true;
            this.$store.commit('setNotification',{type:2,msg:'Error occured while fetching data!',unset:true});
        });

    

        //GETTING CARDS
        this.$store.dispatch('get','get-cards?token='+this.token)
        .then((data)=>{ 
            this.cards=data.data; 
        })
        .catch((error)=>{
            console.log(error.request);
            this.loading=false;
            this.globalLoading=false;
        });
    }
}
</script>
<style>
    /* .select2-container--default .select2-selection--single{
        height: 39px;
        border-color:lightgray;
    } */
</style>