<template>
    <div> 
        <div class="ms-content-wrapper p-0">
            <div class="row col-12" style="padding:0px 20px">
                <a style="margin:0px 11px" href="fixed-savings/create" class="btn btn-success">CREATE SAVINGS</a>
            </div>
            <loader v-if="loading" color='red'></loader>
            <div class="row p-0 m-0 mt-3">
                <div v-for="(save,index) in savings" :key="index" class="col-xl-4 col-lg-6 col-md-6 ">
                    <div style="padding-bottom:20px" class="ms-card ms-widget has-graph-full-width ms-infographics-widget">
                        <div class="ms-card-body media">
                            <div class="media-body">
                                <div style="display: flex;justify-content: space-between;margin-bottom:20px">
                                    <div >
                                        <span class="black-text"><strong>{{save.title}}</strong></span>
                                        <b style="color:grey">
                                            <money-format 
                                            :value="save.fixed.amount"
                                            locale='en' 
                                            currency-code='NGN' 
                                            ></money-format>
                                        </b>
                                    </div>
                                    <div style="text-align:right;margin-top:-2px">
                                        <span class="black-text"><strong>Deposit per time</strong></span>
                                        <b style="color:grey">
                                            <money-format 
                                            :value="save.amount"
                                            locale='en' 
                                            currency-code='NGN' 
                                            ></money-format>
                                        </b> 
                                    </div>
                                </div>

                                <div class="row p-0 m-0" style="justify-content:space-between">
                                    <div class="label label-success" style="margin-bottom:10px">{{save.plan.toUpperCase()}} Autosave Deposit</div>
                                </div>
                                <div class="stat"> 
                                    <div class="statInner">
                                        <span>Last Deposit</span>
                                        <span  class="dat">{{save.last_withdrawal == null ? 'N/A' : new Date(save.last_withdrawal).toDateString()}}</span>
                                    </div>
                                    <div class="statInner">
                                        <span>Next Deposit</span>
                                        <span class="dat2 dat">{{save.next_withdrawal == null ? 'N/A' : new Date(save.next_withdrawal).toDateString()}}</span>
                                    </div>
                                    <div class="statInner">
                                        <span>Withdrawal Date</span>
                                        <span class="dat3 dat">{{save.withdrawal_date == null ? 'N/A' :  new Date(save.withdrawal_date).toDateString()}}</span>
                                    </div>
                                </div>
                                <router-link :to="'fixed-savings/view/'+save.id" class="btn btn-warning view-savings">VIEW</router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapState } from 'vuex';

    export default {
        data(){
            return { 
                loading:false,
                savings:[]
            }
        },
        computed:{
            ...mapState({
                user:(state)=> state.user,
                token:(state)=> state.token,
            })
        },
        methods:{}, 
        created(){
            this.loading=true; 
            this.$store.dispatch('get','get-fixed-savings?token='+this.token)
            .then((data)=>{
                console.log(data);
                this.savings=data.data;
                this.loading=false; 
            })
            .catch((error)=>{
                console.log(error.request);
                this.loading=false; 
            });
        }
    }
</script>
<style scoped>
    .view-savings{
        margin: auto;
        width: 100%;
        margin-top: 15px;
    }
    .ms-card.ms-widget {
        border-radius: 8px;
    } 
    .statInner{
        display: flex;
        justify-content: space-between;
        padding: 7px 0px;
    }
    .statInner span{
        color: grey;
        font-size: 12px;
    }
    .statInner span.dat{
        font-size: 12px;
        background: #f0babf47;
        padding: 0px 10px;
        border-radius: 10px;
        color: red;
    }
    .statInner span.dat2{
        background: #4caf5045;
        color: green;
    }
    .statInner span.dat3{
        background: #ffa50045;
        color: #a86500;
    }
    .label-success{
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        background: #9e9e9e47;
        font-size: 11px;
        padding: 3px 16px;
        color: #607D8B;
        border-radius: 4px;
        margin-bottom: 10px;
        font-size: 12px;
        margin: auto;
        margin-bottom: 20px;
    }
</style>