<template>
     <div> 
        <div class="ms-content-wrapper p-0">
            <loader v-if="fetching" color='red'></loader>
            <div v-if="!fetching && investments.length > 0" class="row" style="padding:0px 20px">
                <a style="margin-left: auto;" data-toggle="collapse" href="#example" class="btn btn-primary float-right">CREATE MORE INVESTMENT</a>
            </div>
            <div :class="!fetching && investments.length == 0 ? ' row p-0 m-0 mt-3 collapse show':' row p-0 m-0 mt-3 collapse'" id="example">
                <div class="col-lg-6 col-sm-12" style="padding:0px">
                    <div v-if="globalError" class="col-12 mb-2">
                        <notification></notification>
                    </div>
                    <div style="box-shadow:none" class="ms-panel ms-panel-fh">
                        <div class="ms-panel-header d-flex" style="justify-content:space-between">
                            <h3>INVESTMENT FORM</h3>
                            <loader v-if="loading && globalLoading" color='red'></loader>
                        </div>
                        <div v-if="!globalLoading && !globalError" class="ms-panel-body">
                            <form>
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input v-model="investment.name" type="text" class="form-control" id="name" placeholder="Label your investment">
                                </div>
                                <div class="form-group">
                                    <label for="">Tenors</label>
                                    <select v-model="investment.tenor" name="" id="" class="form-control" >
                                        <option value=""> Select an investment tenor </option>
                                        <option v-for="(tenor,index) in tenors" :key="index" :value="tenor.id">{{tenor.title}}</option>
                                    </select>
                                </div> 
                                <div class="form-group">
                                    <label for="amount" class=' d-flex'>Amount <p class="text-danger ml-2 pb-0 mb-0">(Minimum of NGN 100,000)</p></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <!-- <div class="input-group-text">₦</div> -->
                                        </div>
                                        <currency-input v-model="investment.amount" class="form-control" id="amount" placeholder="how much would you like to invest?" />
                                    </div>
                                </div> 
                                <div v-if="!globalError" class="col-12 mb-2">
                                    <notification></notification>
                                </div>
                                <button @click="proceed()" data-toggle="modal" type="button" class="btn btn-success">
                                    <!-- <loader v-if="loading && !globalLoading" color='white'></loader> -->
                                    <span style="color:white">SAVE</span>
                                </button>
                                
                            </form>
                        </div>
                    </div> 
                </div> 
            </div>
            <div class="row p-0 m-0 mt-2">
                <div v-for="(invest,index) in investments" :key="index" class="col-xl-4 col-lg-6 col-md-6">
                    <div style="padding-bottom:20px" class="ms-card ms-widget has-graph-full-width ms-infographics-widget">
                        <div class="ms-card-body media">
                            <div class="media-body">
                                <div style="display: flex;justify-content: space-between;margin-bottom:20px">
                                    <div class="">
                                        <span class="black-text"><strong>CAPITAL</strong></span>
                                        <b style="color:grey;" class="pl-2">
                                            <money-format 
                                            :value="invest.amount"
                                            locale='en' 
                                            currency-code='NGN' 
                                            ></money-format>
                                        </b>
                                    </div>
                                    <div style="" class="text-right">
                                        <span class="black-text"><strong>PROFIT</strong></span>
                                        <b style="color:grey" class="d-block">NGN {{invest.profit}}</b> 
                                    </div>
                                </div>

                                <div class="row p-0 m-0" style="justify-content:space-between">
                                    <div class="label label-success" style="margin-bottom:10px">{{invest.label.toUpperCase()}}</div>
                                </div>
                                <div class="stat"> 
                                    <div class="statInner">
                                        <span>DURATION</span>
                                        <span  class="dat">{{JSON.parse(invest.data).months}} Months</span>
                                    </div>
                                    <div class="statInner">
                                        <span>STARTED</span>
                                        <span  class="dat">{{invest.start}}</span>
                                    </div>
                                    <div class="statInner">
                                        <span>ENDS</span>
                                        <span class="dat2 dat">{{invest.ends}}</span>
                                    </div>
                                    <div class="statInner">
                                        <span>ROI</span>
                                        <span class="dat3 dat">{{invest.roi}}%</span>
                                    </div>
                                </div>
                                <div v-if="invest.ready <= 0 && invest.status == 1" class="completed pl-1 pr-1">
                                    <i class="fas fa-check"></i>
                                    <span style="color:white">INVESTMENT COMPLETED</span>
                                    <button v-if="!invest.hasActiveWithdrawal" @click="setInvestment(invest.id)" data-target="#withdrawmodal" data-toggle="modal" class="btn d-block m-auto">WITHDRAW</button>
                                    <p class="mt-1" v-else style="color:white"> A withdrawal request has been made on this investment. Your money is on the way!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- SELECT METHOD MODAL -->
        <div class="modal" id="paymentmeth">
            <div class="modal-dialog">
                <div class="modal-content" style="border-radius: 2px;">
                    <div class="modal-header d-block" style="border:none">
                        <h4 style="font-size:18px" class="m-0">How do you want to pay</h4>
                        <p style="font-size:12px;width:80%;">Kindly a method which you prefer to make your payment, this will only be used for this transaction.</p>
                        <notification></notification>
                    </div>
                    <div class="modal-body"> 
                        <div data-dismiss='modal' @click="selectMethod('card')" class="card ch">
                            <div class="card-flex d-flex">
                                <div class="icong">
                                    <i class="fa fa-credit-card"></i>
                                </div>
                                <div class="contentg">
                                    <h4>Select and pay with your existing card details</h4>
                                    <p>You will be allowed to pick one of your existing card details for this transactions</p>
                                </div>
                            </div>
                        </div>
                        <div data-dismiss='modal' @click="selectMethod('new')" class="card ch">
                            <div class="card-flex d-flex">
                                <div class="icong">
                                    <i class="fas fa-external-link-alt"></i>
                                </div>
                                <div class="contentg">
                                    <h4>Pay with a new card or details</h4>
                                    <p>You can make your savings with a new card details</p>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary btn-sm float-right" data-dismiss='modal'>CANCEL</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- SELECT CARD AND AMOUNT -->
        <button class="btn d-none" data-toggle="modal" data-target="#paymentopt" id="option"></button>
        <div class="modal" id="paymentopt">
            <div class="modal-dialog">
                <div class="modal-content" style="border-radius: 2px;">
                    <div class="modal-header" style="border:none;justify-content: start;">
                        <div>
                            <a data-dismiss='modal' @click="goback()" style="color:grey" href="#"><i class="fa fa-arrow-left"></i> </a>
                        </div>
                        <div>
                            <h4 style="font-size:17px;margin-left:20px">Enter your payment details</h4>
                            <!-- <p>Kindly a method which you prefer to make your payment, this will only be used for this transaction.</p> -->
                        </div>
                        
                    </div>
                    <div class="modal-body">  
                        <div v-if="investment.method == 'card'" class="form-group">
                            <label for="">Select card</label>
                            <select name="" id="" class="form-control" v-model="investment.card">
                                <option value="">Select the card to debit </option>
                                <option v-for="(card,index) in user.card" :key="index" :value="card.id">{{card.card_type+'  ************'+card.last4+' Expiry :'+card.exp_month+'/'+card.exp_year}}</option> 
                            </select>
                        </div> 
                        <notification></notification> 
                        <div class="d-flex" style="justify-content:space-between"> 
                            <button @click="createInvestment()" class="btn btn-success btn-sm">
                                    <loader v-if="loading" color='white'></loader>
                                    <span v-else style="color:white">PROCEED</span>
                                </button>
                            <button id="dismiss2" class="btn btn-primary btn-sm" data-dismiss='modal'>CANCEL</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SAVE TXN -->
        <button class="btn d-none" data-toggle="modal" data-target="#verify" id="verifyBtn"></button>
            <div class="modal" id="verify">
            <div class="modal-dialog">
                <div class="modal-content" style="border-radius: 2px;background:transparent"> 
                    <div class="modal-body">  
                        <notification></notification>
                        <div class="row m-0">
                            <button @click="createInvestment()" id="dismiss" class="btn btn-primary btn-sm d-none" >RETRY</button>
                        </div>

                        <loader v-if="loading" color='white'></loader> 
                        <button id="dismiss3" class="btn btn-primary btn-sm d-none" data-dismiss='modal'>CANCEL</button>
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- WITHDRAWAL MODAL -->
        <div class="modal" id="withdrawmodal">
            <div class="modal-dialog">
                <div class="modal-content" style="border-radius: 2px;">
                    <div class="modal-header" style="border:none;justify-content: start;"> 
                        <div>
                            <h4 style="font-size:17px;margin-left:20px">Enter your withdrawal details</h4>
                            <!-- <p>Kindly a method which you prefer to make your payment, this will only be used for this transaction.</p> -->
                        </div> 
                    </div>
                    <div class="modal-body">  
                        <div class="form-group">
                            <label for="">Select Bank</label>
                            <select name="" id="" class="form-control" v-model="withdrawal.bank_name">
                                <!-- <option value="">Select Bank </option> -->
                                <option v-for="(bank,index) in user.banks" :key="index" :value="bank.id">{{bank.name}}</option> 
                            </select>
                            <br>
                            <label for="">Account number</label>
                            <input type="text" name="" id="" v-model="withdrawal.account_number" class="form-control" placeholder="Enter your account number">
                        </div> 
                        <div class="alert alert-success">
                            <p class="m-0 p-0">Ensure that your details are current in other to avoid delay in payment</p>
                        </div>
                        <div class="form-group">
                            <label for="">COVEST PIN</label>
                            <input v-model="withdrawal.pin" style="font-weight: 600;letter-spacing: 10px;width:100px" type="text" maxlength="4" class="form-control text-center" placeholder="****">
                            <div style="padding: 6px 10px;" class="alert alert-danger mt-2" v-if="!user.has_password">
                                <p style="font-size: 12px;" class="text-red p-0 m-0">You need a covest pin to continue this transaction.</p>
                                <router-link data-dismiss='modal' style="font-size: 12px;" class="text-primary" to="/dashboard/settings">Click here to set your Covest Pin</router-link>
                            </div>
                        </div>
                        <notification></notification>

                        <div class="d-flex" style="justify-content:space-between"> 
                            <button :disabled="!user.has_password"  @click="withdraw()" class="btn btn-success btn-sm">
                                    <loader v-if="loading" color='white'></loader>
                                    <span v-else style="color:white">PROCEED</span>
                                </button>
                            <button id="dismiss2" class="btn btn-primary btn-sm" data-dismiss='modal'>CANCEL</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex'; 
export default {
    data(){
        return {
            globalError:false,
            loading:false,
            globalLoading:false,
            fetching:false,
            tenors:[],
            investment:{
                name:'',
                amount:0,
                tenor:0,
                method:'',
                card:''
            },
            investments:[],
            ref:'',
            withdrawal:{ 
                pin:'',bank_name:'',amount:0,account_number:''
            },
        }
    },
    computed:{
        ...mapState({
            user:(state)=> state.user,
            token:(state)=> state.token,
            saving:(state)=> state.saving,
        })
    },
    methods:{ 
        setInvestment(id){
            this.withdrawal.investment=id;
        },
        withdraw(){
            if(!this.user.has_password){
                return false;
            } 
            // console.log(this.user);
            if(this.withdrawal.bank_name == 0 || this.withdrawal.account_number.length == 0){
                this.$store.commit('setNotification',{type:2,msg:'Please select a bank and enter your account number',unset:false});
                return false;
            }
            if(this.withdrawal.pin.length != 4 ){
                this.$store.commit('setNotification',{type:2,msg:'Enter a valid pin',unset:false});
                return false;
            }
             
            this.loading=true; 
            this.$store.dispatch('post',{endpoint:'invest-withdraw?token='+this.token,details:this.withdrawal})
            .then((data)=>{
                // console.log(data);
                this.loading=false;
                if(data.data.status){ 
                    data.data.data=this.token; 
                    this.$store.state.stash.hasActiveWithdrawal=true;
                    this.$store.commit('setNotification',{type:1,msg:'Your withdrawal is under review.We will get back to you shortly',unset:false});
                    window.location.reload();
                    // window.$("#withdrawmodal").modal('hide');
                }else{
                    this.$store.commit('setNotification',{type:2,msg:data.data.message,unset:true});
                }
            })
            .catch(()=>{
                this.loading=false;
                // console.log(error.request);
            })
        },
        createInvestment(){
            if(this.loading){
                return false;
            }

            if(this.investment.name.length == 0 || this.investment.amount == 0 ||  this.investment.tenor.length == 0){
                this.$store.commit('setNotification',{type:2,msg:'All fields are required',unset:true});
                return false;
            }

            if(this.investment.amount < 100000){
                this.$store.commit('setNotification',{type:2,msg:'Minimum amount is NGN100,000',unset:true});
                return false;
            }

            var ref=this.ref;
            if(ref.length <=0 && this.investment.card == ''){
                return false;
            }

            window.$('#verify').modal('show');

            this.loading=true;
            this.$store.dispatch('post',{
                endpoint:'create-investment?token='+this.token,
                details:{...this.investment,reference:ref}
            })
            .then((data)=>{
                this.loading=false;
                // console.log(data);
                this.investments.push(data.data.data);
                if(data.data.status){
                    this.$store.commit('setNotification',{type:1,msg:data.data.message,unset:true});
                    window.location.reload();
                }else{
                    this.$store.commit('setNotification',{type:2,msg:data.data.message,unset:true});
                }

                this.ref='';
                window.$('#verify').modal('hide');

            })
            .catch(()=>{
                this.loading=false;
                // console.log(error.request);
            })
        },
        proceed(){
            if(this.loading){
                return false;
            }

            if(this.investment.name.length == 0 || this.investment.amount == 0 ||  this.investment.tenor.length == 0){
                this.$store.commit('setNotification',{type:2,msg:'All fields are required',unset:false});
                return false;
            }

            if(this.investment.amount < 100000){
                this.$store.commit('setNotification',{type:2,msg:'Minimum amount is NGN100,000',unset:false});
                return false;
            }

            window.$('#paymentmeth').modal('show');
        },
        setupPayment(){
            var context=this;
            var handler = window.PaystackPop.setup({
                key: process.env.VUE_APP_P, // Replace with your public key
                email:context.user.email,
                amount: parseInt(context.investment.amount),
                firstname: context.user.fullname, 
                onClose: function(){
                    alert('Window closed.');
                },
                callback: function(response){ 
                    // console.log(response);
                    context.ref=response.reference;
                    context.createInvestment();
                }
            });

            document.getElementById('dismiss2').click();
            handler.openIframe();
        },
        selectMethod(method){
                this.investment.method=method;
                if(method == 'new'){
                    this.setupPayment();
                }else{
                    document.getElementById('option').click();
                }
        },
        goback(){
            document.getElementById('choseModal').click();
        },
        getTenors(){
            this.globalLoading=true; 
            this.$store.dispatch('get','get-tenors?token='+this.token)
            .then((data)=>{
                this.tenors=data.data; 
                this.loading=false;
                this.globalLoading=false;
                this.globalError=false;
            })
            .catch(()=>{
                // console.log(error.request);
                this.loading=false;
                this.globalLoading=false;
                this.globalError=true;
                this.$store.commit('setNotification',{type:2,msg:'Error occured while fetching data!',unset:true});
            });
        }
    },
    created(){
        this.getTenors();this.fetching=true; 
        this.$store.dispatch('get','get-investments?token='+this.token)
        .then((data)=>{
            // console.log(data.data);
            this.investments=data.data;  
            this.fetching=false;
        })
        .catch(()=>{
            // console.log(error.request); 
            this.fetching=false; 
            this.$store.commit('setNotification',{type:2,msg:'Error occured while fetching data!',unset:true});
        });
    }
}
</script>
<style scoped>
    .completed{
        margin: auto;
        width: 100%;
        margin-top: 15px;
        text-align: center;
        background: darkseagreen;
        color: white;
        padding: 10px 0px;
    }
    .completed i{
        padding: 8px;
        background: white;
        border-radius: 50px;
        margin-right: 5px;
        color: #8ebc8f;
    }
    .ms-card.ms-widget {
        border-radius: 8px;
    } 
    .statInner{
        display: flex;
        justify-content: space-between;
        padding: 7px 0px;
    }
    .statInner span{
        color: grey;
        font-size: 12px;
    }
    .statInner span.dat{
        font-size: 12px;
        background: #f0babf47;
        padding: 0px 10px;
        border-radius: 10px;
        color: red;
    }
    .statInner span.dat2{
        background: #4caf5045;
        color: green;
    }
    .statInner span.dat3{
        background: #ffa50045;
        color: #a86500;
    }
    .label-success{
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        background: #9e9e9e47;
        font-size: 11px;
        padding: 3px 16px;
        color: #607D8B;
        border-radius: 4px;
        margin-bottom: 10px;
        font-size: 12px;
        margin: auto;
        margin-bottom: 20px;
    }
</style>
<style scoped>
    .ch{
        margin-bottom: 20px;
        transition: all .1s linear;
    }
    .ch:hover{
        cursor: pointer;
        box-shadow: 0px 0px 5px lightgray;
    }
    .ch:hover i{
        transform: scale(1.1);
    }
    .card-flex{
        padding: 10px;
    }
    .ch:first-child{
        border-color: #00BCD4;
        background: #00bcd40a;
    }
     .ch:nth-child(2){
        border-color: #ff5722;
        background: #ff572208;
    }
    .icong i{
        padding: 15px 13px;
        border: 1px solid #d3d3d394;
        border-radius: 100px;
        font-size: 25px;
        box-shadow: 0px 0px 10px lightgrey;
        transition: all .15s linear;
    }
    .ch:first-child .icong i{
        color: #00bcd4;
    }
    .ch:last-child .icong i{
        color: #ff5722;
    }
    .contentg{
        margin-left:15px ;
    }
    .contentg h4{
        font-size: 17px;
        margin: 0px;
    }
    .contentg p{
        font-size: 11px;
        color: grey;
    }
    .setting-btn:hover{
        color: black;
    }
    .progress-rounded.progress-round-tiny {
        margin: auto;
        display: block;
        border-width: 4px; 
    }
    .stat-row{
        display: flex;
        justify-content: space-between;
        margin-top: 30px !important;
    } 
    .stat-row .stat:nth-child(2){
        text-align: center;
    }
    .stat-row .stat:last-child{
        text-align: right;
    }
    .stat-row .stat:first-child{
        text-align: left;
    }
    .stat b{
        display: block;
    }
    .stat span{
        font-size: 12px;
    }

    @media (max-width: 600px){
        .stat-row{
            margin-top: 0px !important;
            display: block !important;
        }
        .stat-row .stat{
            display: flex;
            justify-content: space-between;
            padding: 9px 0px;
            justify-content: space-between;
            border-bottom: 1px solid #d3d3d345;
            FONT-WEIGHT: 100;
        }
        .stat-row .stat b{
            display: inline;
        }
        .stat-row .stat:nth-child(2){
            text-align: left;
        }
        .stat-row .stat:last-child{
            text-align: left;
        }
        .stat-row .stat:first-child{
            text-align: left;
        }
    }
</style>