<template>
    <div>
        <div class="ms-panel-body mt-0 pt-0">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true">Profile</a>
                        <a class="nav-link" id="v-pills-changePassword-tab" data-toggle="pill" href="#v-pills-changePassword" role="tab" aria-controls="v-pills-changePassword" aria-selected="false">Change password</a>
                        <a class="nav-link" id="v-pills-covestPassword-tab" data-toggle="pill" href="#v-pills-covestPassword" role="tab" aria-controls="v-pills-covestPassword" aria-selected="false">Change covest pin</a>
                        <!-- <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a> -->
                    </div>
                </div>
                <div class="col-sm-12 col-md-9 pl-5 pr-5 pb-5 pt-3" style="background:white;height:100%">

                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <div class="mb-5">
                                <h4>UPDATE PROFILE</h4>
                            </div>
                            <div class="form-group col-sm-12 col-md-5 p-0 ">
                                <label for="">Firstname</label>
                                <input v-model="profile.firstname" type="text" class="form-control">
                            </div>
                            <div class="form-group col-sm-12 col-md-5 p-0 ">
                                <label for="">Lastname</label>
                                <input v-model="profile.lastname" type="text" class="form-control">
                            </div>
                            <div class="form-group col-sm-12 col-md-5 p-0 ">
                                <label for="">Email</label>
                                <input disabled :value="profile.email" type="text" class="form-control">
                            </div>
                            <div class="form-group col-sm-12 col-md-5 p-0 ">
                                <label for="">Phone</label>
                                <input v-model="profile.phone" type="text" class="form-control">
                            </div>
                             <button @click="updateProfile()" class="btn btn-success">
                                <loader v-if="loader" color="white"></loader>
                                <span v-else style="color:white">UPDATE PROFILE</span>
                            </button>
                        </div>
                        <div class="tab-pane fade" id="v-pills-changePassword" role="tabpanel" aria-labelledby="v-pills-changePassword-tab">
                            <div class="mb-5">
                                <h4>CHANGE PASSWORD</h4>
                            </div>
                            <div class="form-group col-sm-12 col-md-5 p-0 ">
                                <label for="">Current Password</label>
                                <input v-model="password.old" type="text" class="form-control" placeholder="Enter your current password">
                            </div>
                            <div class="form-group col-sm-12 col-md-5 p-0 ">
                                <label for="">New Password</label>
                                <input v-model="password.password" type="text" class="form-control" placeholder="Enter new password">
                            </div>
                            <div class="form-group col-sm-12 col-md-5 p-0 ">
                                <label for="">Confirm New Password</label>
                                <input v-model="password.password_confirmation" type="text" class="form-control" placeholder="Enter new password again">
                            </div>
                            <button @click="changePassword()" class="btn btn-success">
                                <loader v-if="loader" color="white"></loader>
                                <span v-else style="color:white">CHANGE PASSWORD</span>
                            </button>
                        </div>
                        <div class="tab-pane fade" id="v-pills-covestPassword" role="tabpanel" aria-labelledby="v-pills-covestPassword-tab">
                            <div class="mb-5">
                                <h4>CHANGE PIN</h4>
                            </div>
                            <div class="alert alert-warning">
                                <p class="p-0 m-0">Covest Pin is different from you login password.</p>
                            </div>
                            <div class="form-group col-sm-6 col-md-3 p-0">
                                <label for="">New Pin <span style="color:grey" class="text-grey">(4 Digit)</span></label>
                                <input v-model="changepin.pin" style="font-weight: 600;letter-spacing: 10px;width:100px" type="text" max="4" class="form-control text-center" placeholder="****">
                            </div>
                            <div class="form-group col-sm-12 col-md-5 p-0 ">
                                <label for="">Password</label>
                                <input v-model="changepin.password" type="text" class="form-control" placeholder="Enter your login password">
                            </div>
                            <button @click="changePin()" class="btn btn-success">
                                <loader v-if="loader" color="white"></loader>
                                <span v-else style="color:white">CHANGE PIN</span>
                            </button>
                        </div>
                        <!-- <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div> -->
                    </div> 
                    <notification class="mt-3"></notification>
                </div> 
            </div>
        </div>   
    </div>
</template>

<script> 
import { mapState } from 'vuex'; 
export default {
    data(){
      return{  
          changepin:{
              pin:'',
              password:''
          },
          password:{
              old:'',
              password:'',
              password_confirmation:''
          },
          profile:{

          },
          loader:false
      }
    },
    computed:{
        ...mapState({
            user:(state)=> state.user,
            token:(state)=> state.token,
            endpoint:(state)=> state.endpoint,
        })
    },
    mounted() {
          
      },
    methods:{ 
        updateProfile(){
            if(this.loader){
                return false;
            } 

            if(this.profile.firstname.length == 0 || this.profile.lastname.length == 0 || this.profile.phone.length == 0  ){
                this.$store.commit('setNotification',{type:2,msg:'All fields are required.',unset:false});
                return false;
            } 

            this.loader=true;
            this.$store.dispatch('post',{endpoint:'update-profile?token='+this.token,details:this.profile})
            .then((data)=>{
                console.log(data);
                this.loader=false;
                if(data.data.status){
                    data.data.data.user.token=data.data.data.token;
                    this.$store.commit('setUser',data.data.data.user);
                    this.$store.commit('setNotification',{type:1,msg:'Your profile was updated successfully',unset:false});
                    
                }else{
                    this.$store.commit('setNotification',{type:2,msg:data.data.message,unset:true});
                }
            })
            .catch((error)=>{
                this.loader=false;
                console.log(error.request);
            })
        },
        changePin(){
            if(this.loader){
                return false;
            }
            if(this.changepin.pin.length < 4){
                this.$store.commit('setNotification',{type:2,msg:'Covest pin must be 4 digit',unset:false});
                return false;
            }
            if(this.changepin.password.length == 0){
                this.$store.commit('setNotification',{type:2,msg:'Enter your login password to ensure us this is '+this.user.lastname,unset:false});
                return false;
            }

            this.loader=true;
            this.$store.dispatch('post',{endpoint:'set-pin?token='+this.token,details:this.changepin})
            .then((data)=>{
                console.log(data);
                this.loader=false;
                if(data.data.status){
                    data.data.data.token=this.token;
                    this.$store.commit('setUser',data.data.data);
                    this.$store.commit('setNotification',{type:1,msg:'Your new pin has been set successfully',unset:false});
                    this.changepin={pin:'',password:''};
                }else{
                    this.$store.commit('setNotification',{type:2,msg:data.data.message,unset:true});
                }
            })
            .catch((error)=>{
                this.loader=false;
                console.log(error.request);
            })
            
        },
        changePassword(){
            if(this.loader){
                return false;
            } 

            if(this.password.old.length == 0 || this.password.password.length == 0 || this.password.password_confirmation.length == 0  ){
                this.$store.commit('setNotification',{type:2,msg:'All fields are required.',unset:false});
                return false;
            }

            if(this.password.password.length < 8){
                this.$store.commit('setNotification',{type:2,msg:'Password must be greater than 8 characters',unset:false});
                return false;
            }

            if(this.password.password != this.password.password_confirmation){
                this.$store.commit('setNotification',{type:2,msg:"Password and confirm password doesn't match",unset:false});
                return false;
            }

            this.loader=true;
            this.$store.dispatch('post',{endpoint:'change-password?token='+this.token,details:this.password})
            .then((data)=>{
                console.log(data);
                this.loader=false;
                if(data.data.status){
                    data.data.data.user.token=data.data.data.token;
                    this.$store.commit('setUser',data.data.data.user);
                    this.$store.commit('setNotification',{type:1,msg:'Your new password has been set successfully',unset:false});
                    this.password={old:'',password:''};
                }else{
                    this.$store.commit('setNotification',{type:2,msg:data.data.message,unset:true});
                }
            })
            .catch((error)=>{
                this.loader=false;
                console.log(error.request);
            })
        }
    },
    created(){
        this.profile={
            firstname:this.user.firstname,
            lastname:this.user.lastname,
            email:this.user.email,
            phone:this.user.phone,
        };
    }
}
</script>
<style scoped>
    @media (min-width: 576px){
        .modal-dialog {
            max-width: 668px;
            margin: 1.75rem auto;
        }
    }
    .flex-column.nav-pills a{
        color:grey;
    }
    .flex-column.nav-pills a.active{
        color: white !important;
        background: red;
        border-radius: 2px;
    }
</style>
