<template>
    <div> 
        <div class="ms-content-wrapper">
            <div class="row">
                <div class="col-xl-10 col-md-10 p-0">
                    <div class="col-12 mb-2">
                        <notification></notification>
                    </div>
                    <div class="ms-panel ms-panel-fh" style="padding-left: 0;">
                        <div class="row m-0">
                            <div class="col-xl-12 col-lg-12 col-md-12 ">
                                <div class="ms-panel-header d-flex pl-1 pr-1" style="justify-content:space-between;padding-left:0.5rem;padding-bottom: 3px;">
                                    <div class="row col-12">
                                        <div class="col-md-6 col-sm-12">
                                            <h3>STASH SAVINGS</h3>
                                            <h4 v-if="exist">
                                                <money-format 
                                                    :value="stash.amount"
                                                    locale='en' 
                                                    currency-code='NGN' 
                                                    ></money-format>
                                            </h4> 
                                        </div>
                                        
                                        <div class="col-md-6 col-sm-12 pb-4">
                                            <button v-if="!exist && loaded" @click="createStash()" class="btn btn-success btnStart">
                                                <loader v-if="loading" color='white'></loader>
                                                <span v-else style="color:white">START SAVINGS</span>
                                            </button>
                                            <loader v-if="loading && globalLoading" color='red'></loader>
                                        </div>
                                    </div>
                                </div> 
                            </div> 
                        </div> 
                        <div v-if="exist" class="row m-0">
                            <div class="col-12 text-center">
                                <button @click="$store.state.notification.type=0;$store.state.notification.message='';" id="choseModal" data-target="#paymentmeth" data-toggle="modal" class="btn btn-success">
                                    <loader v-if="loading" color='white'></loader>
                                    <span v-else style="color:white">ADD MONEY</span>
                                </button>
                                &nbsp;
                                <button id="withdrawmod" data-target="#withdrawmodal" data-toggle="modal" class="btn btn-warning">
                                    <loader v-if="loading" color='white'></loader>
                                    <span v-else style="color:white">WITHDRAW MONEY</span>
                                </button>
                            </div> 
                           
                        </div>
                        <div v-if="stash.hasActiveWithdrawal" class="row m-0 pl-3 pr-3 mt-2">
                            <div class="alert alert-warning">
                                <p class="m-0">
                                    Your withdrawal request is pending. Once we verify your withdrawal you will receive your payment immediately.
                                </p>
                                <button @click="cancelWithdraw()" style="color:black" class="btn btn-sm">Cancel withdrawal</button>
                            </div>  
                        </div>
                        <div v-if="loaded && exist" class="ms-panel-body"> 
                            <div class="ms-panel mt-4">
                                <div  class="ms-panel-header d-flex" style="justify-content:space-between">
                                    <h6>TRANSACTIONS</h6>
                                </div>
                                <div class="ms-panel-body"> 
                                    <loader v-if="txnLoading" color='red'></loader>
                                    <div class="table-responsive">
                                        <table id="data-table-1" class="table table-hover w-100">
                                           
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SELECT METHOD MODAL -->
            <div class="modal" id="paymentmeth">
                <div class="modal-dialog">
                    <div class="modal-content" style="border-radius: 2px;">
                        <div class="modal-header d-block" style="border:none">
                            <h4 style="font-size:18px" class="m-0">How do you want to pay</h4>
                            <p style="font-size:12px;width:80%;">Kindly a method which you prefer to make your payment, this will only be used for this transaction.</p>
                            <notification></notification>
                        </div>
                        <div class="modal-body"> 
                            <div data-dismiss='modal' @click="selectMethod('card')" class="card ch">
                                <div class="card-flex d-flex">
                                    <div class="icong">
                                        <i class="fa fa-credit-card"></i>
                                    </div>
                                    <div class="contentg">
                                        <h4>Select and pay with your existing card details</h4>
                                        <p>You will be allowed to pick one of your existing card details for this transactions</p>
                                    </div>
                                </div>
                            </div>
                            <div data-dismiss='modal' @click="selectMethod('new')" class="card ch">
                                <div class="card-flex d-flex">
                                    <div class="icong">
                                        <i class="fas fa-external-link-alt"></i>
                                    </div>
                                    <div class="contentg">
                                        <h4>Pay with a new card or details</h4>
                                        <p>You can make your savings with a new card details</p>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-primary btn-sm float-right" data-dismiss='modal'>CANCEL</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SELECT CARD AND AMOUNT -->
            <button class="btn d-none" data-toggle="modal" data-target="#paymentopt" id="option"></button>
            <div class="modal" id="paymentopt">
                <div class="modal-dialog">
                    <div class="modal-content" style="border-radius: 2px;">
                        <div class="modal-header" style="border:none;justify-content: start;">
                            <div>
                                <a data-dismiss='modal' @click="goback()" style="color:grey" href="#"><i class="fa fa-arrow-left"></i> </a>
                            </div>
                            <div>
                                <h4 style="font-size:17px;margin-left:20px">Enter your payment details</h4>
                                <!-- <p>Kindly a method which you prefer to make your payment, this will only be used for this transaction.</p> -->
                            </div>
                            
                        </div>
                        <div class="modal-body"> 
                            <div class="form-group">
                                <label for="amount">Amount (minimum 10.00 naira)</label>
                                <div class="input-group">
                                    <!-- <div class="input-group-prepend">
                                        <div class="input-group-text">₦</div>
                                    </div> -->
                                    <currency-input v-model="payment.amount"  class="form-control" id="amount"  placeholder="How much do you want to save" />
                                    <!-- <input v-model="payment.amount" type="number" class="form-control" id="amount" placeholder="How much do you want to save"> -->
                                </div>
                            </div>
                            <div v-if="payment.method == 'card'" class="form-group">
                                <label for="">Select card</label>
                                <select name="" id="" class="form-control" v-model="payment.card">
                                    <option value="">Select the card to debit </option>
                                    <option v-for="(card,index) in user.card" :key="index" :value="card.id">{{card.card_type+'  ************'+card.last4+' Expiry :'+card.exp_month+'/'+card.exp_year}}</option> 
                                </select>
                            </div>

                            <notification></notification>

                            <div class="d-flex" style="justify-content:space-between"> 
                                <button @click="handleSavings()" class="btn btn-success btn-sm">
                                        <loader v-if="loading" color='white'></loader>
                                        <span v-else style="color:white">PROCEED</span>
                                    </button>
                                <button id="dismiss2" class="btn btn-primary btn-sm" data-dismiss='modal'>CANCEL</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <!-- SAVE TXN -->
            <button class="btn d-none" data-toggle="modal" data-target="#verify" id="verifyBtn"></button>
                <div class="modal" id="verify">
                <div class="modal-dialog">
                    <div class="modal-content" style="border-radius: 2px;background:transparent"> 
                        <div class="modal-body">  
                            <notification></notification>
                            <loader v-if="loading" color='white'></loader>

                            <button id="dismiss3" class="btn btn-primary btn-sm d-none" data-dismiss='modal'>CANCEL</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <withdraw></withdraw>
    </div>
</template>
<script>
    import { mapState } from 'vuex';  
    import withdraw from './layouts/withdrawalmodal';
    export default {
        components:{withdraw},
        data(){
            return {  
                loading:false,
                loaded:false,
                globalError:false,
                globalLoading:false,
                txnLoading:false,
                exist:null,
                payment:{
                    method:'',
                    amount:0,
                    card:'',
                    lever:0
                }
            }
        },
        computed:{
            ...mapState({
                user:(state)=> state.user,
                token:(state)=> state.token,
                endpoint:(state)=> state.endpoint,
                stash:(state)=> state.stash,
            })
        },
        methods:{ 
            cancelWithdraw(){
                if(!confirm("Are you sure you want to cancel this withdrawal?")){
                    return false;
                }
                this.$store.state.stash.hasActiveWithdrawal=false;
                this.$store.dispatch('post',{
                    endpoint:'cancel-stash-withdraw/'+this.stash.id+'?token='+this.token,
                    details:{}
                })
                .then(()=>{
                    // console.log(data); 
                    this.$store.commit('setNotification',{type:1,msg:'Withdrawal has been canceled successfully',unset:true})
                })
                .catch(()=>{
                    // console.log(error.request);
                    this.pauseLoading=false;
                });
            },
            handleSavings(){ 
                if(this.payment.method == 'card'){
                    this.save();
                }else{
                    // console.log(this.payment);
                    if(this.payment.amount.toString().search('.') != -1){
                        this.payment.amount=parseInt(this.payment.amount.toString().split('.')[0]);
                    }
                    this.setupPayment();
                }
            },
            setupPayment(){
                var context=this;
                var handler = window.PaystackPop.setup({
                    key: process.env.VUE_APP_P, // Replace with your public key
                    email:context.user.email,
                    amount: parseInt(context.payment.amount)*100,
                    firstname: context.user.fullname,
                    // lastname: 'aladesiun',
                    onClose: function(){
                        alert('Window closed.');
                    },
                    callback: function(response){
                        // var message = 'Payment complete! Reference: ' + response.reference;
                        // console.log(message);
                        context.saveRef(response.reference);
                    }
                });

                document.getElementById('dismiss2').click();
                handler.openIframe();
            },
            saveRef(ref){
                document.getElementById('verifyBtn').click();
                this.loading=true;
                
                // console.log('sent');
                this.$store.dispatch('get','save-ref-stash-saving/'+ref+'?token='+this.token)
                .then((data)=>{
                    console.log(data);
                    this.loading=false; 
                    if(data.data.status){
                        this.$store.state.stash=data.data.data;
                        // this.getTxn(this.stash.id);
                        this.$store.commit('setNotification',{type:1,msg:data.data['message'],unset:true});
                        document.getElementById('dismiss3').click();
                        window.location.reload();
                    }else{
                        this.$store.commit('setNotification',{type:2,msg:data.data['message'],unset:true});
                    }
                });
                // .catch((error)=>{
                //     console.log(error.);
                // })
            },
            save(){
                if(this.loading){
                    return false;
                }

                if(this.payment.amount < 10){
                    this.$store.commit('setNotification',{type:2,msg:'The minimum amount is 10.00 naira',unset:true});
                    return false;
                }

                if(this.payment.card.length == 0){
                    this.$store.commit('setNotification',{type:2,msg:'Please select a card for this transaction',unset:false});
                    return false;
                }
 
                this.loading=true;
                this.$store.dispatch('post',{
                    endpoint:'create-stash-saving?token='+this.token,
                    details:{amount:this.payment.amount,card:this.payment.card}
                })
                .then((data)=>{
                    console.log(data);
                    this.loading=false; 
                    if(data.data.status){
                        this.$store.state.stash=data.data.data; 
                        this.$store.commit('setNotification',{type:1,msg:data.data['message'],unset:true});
                        document.getElementById('dismiss2').click();

                        window.location.reload();
                    }else{
                        this.$store.commit('setNotification',{type:2,msg:data.data['message'],unset:false});
                    }
                });
            },
            goback(){
                document.getElementById('choseModal').click();
            },
            selectMethod(method){
                this.payment.method=method;
                document.getElementById('option').click();
            },
            createStash(){
                if(this.loading){
                    return false;
                }
                this.loading=true;
                this.$store.dispatch('get','create-stash-saving?token='+this.token)
                .then((data)=>{
                    // console.log(data);
                    this.loading=false;

                    this.$store.state.stash=data.data.data;
                    
                    if(data.data.status){
                        this.exist=true; 
                        this.$store.state.user.stash=this.stash;
                        this.$store.commit('setUser',this.$store.state.user);
                        this.$store.commit('setNotification',{type:1,msg:'Congratulations! Your stash account is ready, Now you can start saving by clicking on the add money button',unset:true});
                        window.$('#data-table-1').DataTable( {
                            data: [],
                            columns: [
                            { title: "Type" },
                            { title: "Ref" },
                            { title: "Amount" }, 
                            { title: "Details" },
                            { title: "Status"},
                            { title: "Transaction Date" }
                            ],
                        });
                    }else{
                        this.globalError=true;
                        this.$store.commit('setNotification',{type:2,msg:data.data['message'],unset:true});
                    }
                    this.loading=false;
                })
                .catch((error)=>{
                    console.log(error);
                    this.loading=false;
                 
                    this.globalError=true;
                    this.$store.commit('setNotification',{type:2,msg:'Error occured!',unset:true});
                });
            },
            getTxn(id){
                this.txnLoading=true;
                this.$store.dispatch('get','get-stash-saving-txn/'+id+'?token='+this.token)
                .then((data)=>{
                    // console.log(data); 

                    var dataset=data.data.data.map((d)=>{
                        return [
                            d.type,d.reference,d.amount,d.text,d.status == 1? 'SUCCESSFULL':'FAILED',new Date(d.created_at).toDateString()
                        ];
                    });
                    window.$('#data-table-1').DataTable( {
                        data: dataset,
                        columns: [
                        { title: "Type" },
                        { title: "Ref" },
                        { title: "Amount" }, 
                        { title: "Details" },
                        { title: "Status"},
                        { title: "Transaction Date" }
                        ],
                    });
                    this.txnLoading=false;
                })
                .catch(()=>{
                    // console.log(error.request);
                    this.txnLoading=false; 
                    this.txnError=true;
                    this.$store.commit('setNotification',{type:2,msg:'Error occured while fetching transactions!',unset:true});
                });
            },
            updateSaving(data){
                this.pauseLoading=true;
                this.$store.dispatch('post',{
                    endpoint:'update-fixed-saving/'+this.saving.id+'?token='+this.token,
                    details:data
                })
                .then((data)=>{
                    console.log(data);
                    this.saving=data.data;
                    this.pauseLoading=false;
                    this.$store.commit('setNotification',{type:1,msg:this.saving.title+' has been updated'})
                })
                .catch((error)=>{
                    console.log(error.request);
                    this.pauseLoading=false;
                });
            }
        },
        mounted(){  
            // console.log(this.user); 
        },
        created(){
            this.loading=true;
            this.globalLoading=true;
            this.$store.dispatch('get','get-stash-saving?token='+this.token)
            .then((data)=>{
                // console.log(data);
                this.loading=false;
                this.loaded=true;
                this.globalLoading=false; 
                this.$store.state.stash=data.data;

                this.getTxn(this.stash.id);

                this.exist=true;
            })
            .catch((error)=>{
                // console.log(error.request);
                if(error.request.status == 404){
                    this.exist=false;
                    this.loaded=true;
                }else{
                    this.globalError=true;
                    this.$store.commit('setNotification',{type:2,msg:'Error occured while fetching data!',unset:true});
                }
                this.loading=false;
                this.globalLoading=false; 
            });

        }
    }
</script>
<style scoped>
    .ch{
        margin-bottom: 20px;
        transition: all .1s linear;
    }
    .ch:hover{
        cursor: pointer;
        box-shadow: 0px 0px 5px lightgray;
    }
    .ch:hover i{
        transform: scale(1.1);
    }
    .card-flex{
        padding: 10px;
    }
    .ch:first-child{
        border-color: #00BCD4;
        background: #00bcd40a;
    }
     .ch:nth-child(2){
        border-color: #ff5722;
        background: #ff572208;
    }
    .icong i{
        padding: 15px 13px;
        border: 1px solid #d3d3d394;
        border-radius: 100px;
        font-size: 25px;
        box-shadow: 0px 0px 10px lightgrey;
        transition: all .15s linear;
    }
    .ch:first-child .icong i{
        color: #00bcd4;
    }
    .ch:last-child .icong i{
        color: #ff5722;
    }
    .contentg{
        margin-left:15px ;
    }
    .contentg h4{
        font-size: 17px;
        margin: 0px;
    }
    .contentg p{
        font-size: 11px;
        color: grey;
    }
    .setting-btn:hover{
        color: black;
    }
    .progress-rounded.progress-round-tiny {
        margin: auto;
        display: block;
        border-width: 4px; 
    }
    .stat-row{
        display: flex;
        justify-content: space-between;
        margin-top: 30px !important;
    } 
    .stat-row .stat:nth-child(2){
        text-align: center;
    }
    .stat-row .stat:last-child{
        text-align: right;
    }
    .stat-row .stat:first-child{
        text-align: left;
    }
    .stat b{
        display: block;
    }
    .stat span{
        font-size: 12px;
    }

    .btnStart{
        margin-left: auto;
        margin-right: unset;
        display: block;
    }
    @media (max-width: 600px){
        .btnStart{
            margin-right: auto;
            margin-left: unset;
            display: block;
        }
        .stat-row{
            margin-top: 0px !important;
            display: block !important;
        }
        .stat-row .stat{
            display: flex;
            justify-content: space-between;
            padding: 9px 0px;
            justify-content: space-between;
            border-bottom: 1px solid #d3d3d345;
            FONT-WEIGHT: 100;
        }
        .stat-row .stat b{
            display: inline;
        }
        .stat-row .stat:nth-child(2){
            text-align: left;
        }
        .stat-row .stat:last-child{
            text-align: left;
        }
        .stat-row .stat:first-child{
            text-align: left;
        }
    }
</style>