<template>
    <div>
        
        <div class="ms-content-wrapper">
            <div class="row">
                <div class="col-xl-12 col-md-12">
                    <div class="col-12 mb-2">
                        <notification></notification>
                    </div>
                    <div class="ms-panel ms-panel-fh" style="padding-left: 0;">
                        <div class="row m-0">
                            <div class="col-xl-9 col-lg-9 col-md-9 ">
                                <div class="ms-panel-header d-flex" style="justify-content:space-between;padding-left:0.5rem;padding-bottom: 3px;padding-right:0px">
                                    <div class="row m-0" style="width:100%">
                                        <h3 class="col-12 col-md-6 p-0" >{{saving.title}}</h3>
                                        <h4 class="col-12 col-md-6 p-0" style="text-align:right">
                                        <money-format 
                                        :value="saving.fixed.amount"
                                        locale='en' 
                                        currency-code='NGN' 
                                        ></money-format>
                                        </h4> 
                                        <loader v-if="loading && globalLoading" color='red'></loader>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <div style="padding-left:0.5rem !important" class="row d-flex p-0 m-0 stat-row">
                                        <div class="stat">
                                            <b>PLAN</b>
                                            <span v-if="saving.plan != undefined">{{saving.plan[0].toUpperCase()+saving.plan.substr(1)}}</span>
                                        </div>
                                        <div class="stat">
                                            <b>DAY</b>
                                            <span>{{saving.plan == 'daily' ? 'Everyday':saving.plan == 'monthly' ? 'Once a month':saving.plan_day}}</span>
                                        </div>
                                        <div v-if="saving.date != null" class="stat">
                                            <b>DATE</b>
                                            <span >{{saving.plan != 'monthly' ? 'N/A':saving.date}}</span>
                                        </div>
                                        <div class="stat">
                                            <b>TIME</b>
                                            <span>{{saving.time}}</span>
                                        </div>
                                    </div>
                                    <div style="padding-left:0.5rem !important" class="row d-flex p-0 m-0 stat-row">
                                        <div class="stat">
                                            <b>Amount Per time</b>
                                            <span>NGN {{saving.amount}}</span>
                                        </div> 
                                        <div class="stat">
                                            <b>Deposit Card</b>
                                            <span>************{{saving.card.last4}}</span>
                                        </div> 
                                        <div class="stat">
                                            <b>Saving Status</b>
                                            <span>
                                                <div v-if="saving.status == 1" class="badge badge-success">ACTIVE</div>
                                                <div v-if="saving.status == 0" class="badge badge-warning">PAUSED</div>
                                                <div v-if="saving.status == -1" class="badge badge-gender">CANCELED</div>
                                            </span>
                                        </div> 
                                    </div>
                                    <div style="padding-left:0.5rem !important" class="row d-flex p-0 m-0 stat-row">
                                        <div class="stat">
                                            <b>LAST WITHDRAWAL</b>
                                            <span v-if="saving.last_withdrawal != null">{{new Date(saving.last_withdrawal).toDateString()}}</span>
                                            <span v-else>Not Available</span>
                                        </div>
                                        <div class="stat">
                                            <b>NEXT WITHDRAWAL</b>
                                            <span  v-if="saving.next_withdrawal != null">{{new Date(saving.next_withdrawal).toDateString()}}</span>
                                            <span v-else>Not Available</span>
                                        </div>
                                        <div class="stat">
                                            <b>WITHDRAWAL DATE</b>
                                            <span v-if="saving.withdrawal_date != null">{{new Date(saving.withdrawal_date).toDateString()}}</span>
                                            <span v-else>Not Available</span>
                                        </div>
                                    </div>
                                    <div style="padding-left:0.5rem !important" class="row d-flex p-0 m-0 stat-row">
                                        <div class="stat">
                                            <b>STARTED ON</b>
                                            <span>{{new Date(saving.created_at).toDateString()}}</span>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3" style="margin-top:0px;"> 
                                <router-link :to="'/dashboard/fixed-savings/edit/'+saving.id" style="display:block;margin:auto;border: 1px solid lightgray;margin-top:25px !important" class="btn setting-btn"><i class="fa fa-cog"></i> SETTINGS</router-link>
                                <h6 style="margin-top:55px;" class="text-center">PROGRESS</h6>
                                <div class="progress-rounded progress-round-tiny" style="margin-top:20px"> 
                                    <div class="progress-value">{{this.percentage}}%</div>
                                    <svg>
                                        <circle class="progress-cicle bg-success" cx="65" cy="65" r="57" stroke-width="4" fill="none" aria-valuenow="100" :style="'stroke-dashoffset:'+ circleOffset" aria-orientation="vertical" aria-valuemin="0" aria-valuemax="100" role="slider">
                                        </circle>
                                    </svg>
                                </div>
                                <a @click="updateSaving({status:0})" v-if="saving.status == 1" :to="'#'" style="display:block;margin:auto;border: 1px solid lightgray;margin-top:35px !important" class="btn btn-warning">
                                    <loader v-if="pauseLoading" color='white'></loader>
                                    <span  v-else style="color:white"><i class="fas fa-pause"></i> PAUSE</span>
                                    </a>
                                <a @click="updateSaving({status:1})" v-if='saving.status == 0' :to="'#'" style="display:block;margin:auto;border: 1px solid lightgray;margin-top:35px !important" class="btn btn-success">
                                    <loader v-if="pauseLoading" color='white'></loader> 
                                    <span style="color:white"><i class="fa fa-play"></i> CONTINUE</span>
                                </a>
                                <a href="#withdrawmodal" data-toggle="modal" style="display:block;margin:auto;border: 1px solid lightgray;margin-top:5px !important" class="btn">
                                    <loader v-if="pauseLoading" color='white'></loader> 
                                    <span style="color:grey"> Break Fund</span>
                                </a>
                            </div>
                        </div> 
                        <div v-if="saving.hasActiveWithdrawal" class="row m-0 pl-3 pr-3 mt-2">
                            <div class="alert alert-warning">
                                <p class="m-0">
                                    Your withdrawal request is pending. Once we verify your withdrawal you will receive your payment immediately.
                                </p>
                                <button @click="cancelWithdraw()" style="color:black" class="btn btn-sm">Cancel withdrawal</button>
                            </div>  
                        </div>
                        <div v-if="loaded" class="ms-panel-body"> 
                            <div class="ms-panel mt-4">
                                <div  class="ms-panel-header d-flex" style="justify-content:space-between">
                                    <h6>TRANSACTIONS</h6>
                                </div>
                                <div class="ms-panel-body"> 
                                    <loader v-if="txnLoading" color='red'></loader>
                                    <div class="table-responsive">
                                        <table id="data-table-1" class="table table-hover w-100">
                                           
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <fixedWithdrawal></fixedWithdrawal>
    </div>
</template>
<script>
    import { mapState } from 'vuex'; 
    import fixedWithdrawal from '../dashboard/layouts/fixedwithdrawal';
    export default {
        components:{
            fixedWithdrawal
        },
        data(){
            return {  
                loading:false,
                loaded:false,
                globalError:false,
                globalLoading:false,
                txnLoading:false,
                pauseLoading:false, 
                percentage:0,
                circleOffset:0
            }
        },
        computed:{
            ...mapState({
                user:(state)=> state.user,
                token:(state)=> state.token,
                saving:(state)=> state.saving,
            })
        },
        methods:{ 
            cancelWithdraw(){
                if(!confirm("Are you sure you want to cancel this withdrawal?")){
                    return false;
                }
                this.$store.state.saving.hasActiveWithdrawal=false;
                this.$store.dispatch('post',{
                    endpoint:'cancel-fixed-withdraw/'+this.saving.id+'?token='+this.token,
                    details:{}
                })
                .then((data)=>{
                    console.log(data); 
                    this.$store.commit('setNotification',{type:1,msg:'Withdrawal has been canceled successfully',unset:true})
                })
                .catch((error)=>{
                    console.log(error.request);
                    this.pauseLoading=false;
                });
            },
            getTxn(id){
                this.txnLoading=true;
                this.$store.dispatch('get','get-fixed-saving-txn/'+id+'?token='+this.token)
                .then((data)=>{
                    console.log(data); 

                    var dataset=data.data.data.map((d)=>{
                        return [
                            d.type,d.reference,d.amount,d.text,d.status == 1? 'SUCCESSFULL':'FAILED',new Date(d.created_at).toDateString()
                        ];
                    });
                    window.$('#data-table-1').DataTable( {
                        data: dataset,
                        columns: [
                        { title: "Type" },
                        { title: "Ref" },
                        { title: "Amount" }, 
                        { title: "Details" },
                        { title: "Status" },
                        { title: "Transaction Date" }
                        ],
                    });
                    this.txnLoading=false;
                })
                .catch((error)=>{
                    console.log(error.request);
                    this.txnLoading=false; 
                    this.txnError=true;
                    this.$store.commit('setNotification',{type:2,msg:'Error occured while fetching transactions!',unset:true});
                });
            },
            updateSaving(data){
                this.pauseLoading=true;
                this.$store.dispatch('post',{
                    endpoint:'update-fixed-saving/'+this.saving.id+'?token='+this.token,
                    details:data
                })
                .then((data)=>{
                    console.log(data);
                    this.$store.state.saving=data.data;
                    this.pauseLoading=false;
                    this.$store.commit('setNotification',{type:1,msg:this.saving.title+' has been updated'})
                })
                .catch((error)=>{
                    console.log(error.request);
                    this.pauseLoading=false;
                });
            }
        },
        mounted(){ 
        },
        created(){
            this.loading=true;
            this.globalLoading=true;
            this.$store.dispatch('get','get-fixed-saving/'+this.$route.params.id+'?token='+this.token)
            .then((data)=>{
                console.log(data);
                this.loading=false;
                this.loaded=true;
                this.globalLoading=false;
                this.$store.state.saving=data.data;
                this.getTxn(this.$route.params.id);

                var lw=new Date(this.saving.last_withdrawal).getTime();
                var wd=new Date(this.saving.withdrawal_date).getTime();
                var cw=new Date(this.saving.created_at.split(' ')[0]).getTime();

                if(this.saving.last_withdrawal != null){
                    var mn=wd-cw;
                    var mj=wd-lw;
                    mj=mn-mj;
                    var div=mj / mn; 

                    this.percentage=parseInt(div*100);
                }
                // this.circleOffset=315 - ((this.percentage / 100) * 315);
                console.log(this.circleOffset);
            })
            .catch((error)=>{
                console.log(error.request);
                this.loading=false;
                this.globalLoading=false;
                this.globalError=true;
                this.$store.commit('setNotification',{type:2,msg:'Error occured while fetching data!',unset:true});
            });

        }
    }
</script>
<style scoped>
    .setting-btn:hover{
        color: black;
    }
    .progress-rounded.progress-round-tiny {
        margin: auto;
        display: block;
        border-width: 4px; 
    }
    .stat-row{
        display: flex;
        justify-content: space-between;
        margin-top: 30px !important;
    } 
    .stat-row .stat:nth-child(2){
        text-align: center;
    }
    .stat-row .stat:last-child{
        text-align: right;
    }
    .stat-row .stat:first-child{
        text-align: left;
    }
    .stat b{
        display: block;
    }
    .stat span{
        font-size: 12px;
    }

    @media (max-width: 600px){
        .stat-row{
            margin-top: 0px !important;
            display: block !important;
        }
        .stat-row .stat{
            display: flex;
            justify-content: space-between;
            padding: 9px 0px;
            justify-content: space-between;
            border-bottom: 1px solid #d3d3d345;
            FONT-WEIGHT: 100;
        }
        .stat-row .stat b{
            display: inline;
        }
        .stat-row .stat:nth-child(2){
            text-align: left;
        }
        .stat-row .stat:last-child{
            text-align: left;
        }
        .stat-row .stat:first-child{
            text-align: left;
        }
    }
</style>