<template>
  <div id="app">
    <router-view></router-view> 
    <!-- <div class="locker">
        <div class="lock">
          <div class="form">
            <div class="logo">
            <img src="./assets/covestlogo.png" alt="">
          </div>
            <input style="height:49px" type="text" class="form-control" placeholder="Enter your password" > 
            <div class="lockbtns">
              <button style="background: #b72578;border-color: #b72779;" class="btn btn-success btn-sm mt-0">LOGIN</button>
              <a style="padding: 7px 0px 7px 22px;text-align: right;color:black" href="#"> <i class="fas fa-lock"></i> SIGN OUT</a>
            </div> 
          </div>
        </div>
    </div> -->
  </div>
</template>

<script>
import { mapState } from 'vuex'; 
export default {
  name: 'App',
  components: {
    
  }, 
  computed:{
      ...mapState({
          user:(state)=> state.user,
          token:(state)=> state.token,
      })
  },
  methods:{
    refreshToken(){
      this.$store.dispatch('get','refresh-token/'+this.user.id+'?token='+this.token)
          .then((data)=>{
              // console.log(data);
              var result=data.data.user;
              result.token=data.data.token;

              this.$store.commit('setUser',result);
          })
          .catch((error)=>{
            console.log(error.request);
          });
    }
  },
  created(){
    if(this.$route.meta.AuthRequired){
      this.$store.commit('getUser');
      if(this.user.id != undefined){
            this.$store.dispatch('get','get-user?token='+this.user.token)
            .then((data)=>{
              // console.log(data.data);
               var result=data.data.user;
              result.token=this.token;
              this.$store.commit('setUser',result);
            })
            .catch((error)=>{
              console.log(error.request);
            });
            
      }
    }
  }, 
}
</script>

<style>
  .locker{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    top: 0;
    background: white;
  }
  .lock{
    height: 100%;
    width: 50%; 
    display: block;
    margin: auto;
    position: relative;
  }
  .form{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 200px;
    width: 300px;
    left: 0;
    right: 0;
  }
  .logo{
    bottom: 10px; 
    margin: auto;
    margin-bottom: 10px; 
  }
  .lockbtns{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .btn-warning{
    color: #fff;
    background-color: #be4289;
    border-color: #bf4489;
  }
  .btn-warning:hover{
    background-color: #be4289;
    border-color: #bf4489;
  }
</style>
