<template>
    <div>
        <div class="modal" id="withdrawmodal">
                <div class="modal-dialog">
                    <div class="modal-content" style="border-radius: 2px;">
                        <div class="modal-header" style="border:none;justify-content: start;">
                            <div>
                                <h4 style="font-size:17px;margin-left:20px">Enter your withdrawal details</h4>
                                <!-- <p>Kindly a method which you prefer to make your payment, this will only be used for this transaction.</p> -->
                            </div> 
                        </div>
                        <div class="modal-body"> 
                            <div v-if="saving.since < 1" class="alert alert-danger">
                                <p>Since this fixed account is not up to 1 month we will charge you 3% of the amount you want to withdraw now.</p>
                            </div>
                            <div class="form-group">
                                <label for="amount">Amount (minimum 10.00 naira)</label>
                                <div class="input-group"> 
                                    <currency-input v-model="withdrawal.amount"  class="form-control" id="amount"  placeholder="How much do you want to withdraw" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Select Bank </label>
                                <select name="" id="" class="form-control" v-model="withdrawal.bank_name">
                                    <!-- <option value="">Select Bank </option> -->
                                    <option v-for="(bank,index) in user.banks" :key="index" :value="bank.id">{{bank.name}}</option> 
                                </select>
                                <br>
                                <label for="">Account number</label>
                                <input type="text" name="" id="" v-model="withdrawal.account_number" class="form-control" placeholder="Enter your account number">
                            </div> 
                            <div class="alert alert-success">
                                <p class="m-0 p-0">Ensure that your details are current in other to avoid delay in payment</p>
                            </div> 
                            <div class="form-group">
                               <label for="">COVEST PIN</label>
                                <input v-model="withdrawal.pin" style="font-weight: 600;letter-spacing: 10px;width:100px" type="text" maxlength="4" class="form-control text-center" placeholder="****">
                                <div style="padding: 6px 10px;" class="alert alert-danger mt-2" v-if="!user.has_password">
                                    <p style="font-size: 12px;" class="text-red p-0 m-0">You need a covest pin to continue this transaction.</p>
                                    <router-link data-dismiss='modal' style="font-size: 12px;" class="text-primary" to="/dashboard/settings">Click here to set your Covest Pin</router-link>
                                </div>
                            </div>
                            <notification></notification>

                            <div class="d-flex" style="justify-content:space-between"> 
                                <button :disabled="!user.has_password"  @click="withdraw()" class="btn btn-success btn-sm">
                                        <loader v-if="loading" color='white'></loader>
                                        <span v-else style="color:white">PROCEED</span>
                                    </button>
                                <button id="dismiss2" class="btn btn-primary btn-sm" data-dismiss='modal'>CANCEL</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'; 
export default {
    computed:{
        ...mapState({
            user:(state)=> state.user,
            token:(state)=> state.token,
            endpoint:(state)=> state.endpoint,
            saving:(state)=> state.saving,
        })
    },
    data(){
        return {
            withdrawal:{ 
                pin:'',bank_name:0,amount:0,account_number:''
            },
            loading:false,
        }
    },
    methods:{
        withdraw(){
            if(!this.user.has_password){
                return false;
            }
            if(this.withdrawal.amount < 10){
                this.$store.commit('setNotification',{type:2,msg:'Minimum amount is NGN 10.00',unset:false});
                return false;
            }
            if(this.withdrawal.amount > this.saving.fixed.amount){
                this.$store.commit('setNotification',{type:2,msg:'Insufficient fund',unset:false});
                return false;
            }
            if(this.withdrawal.bank_name == 0 || this.withdrawal.account_number.length == 0){
                this.$store.commit('setNotification',{type:2,msg:'Please select a bank and enter your account number',unset:false});
                return false;
            }
            if(this.withdrawal.pin.length != 4 ){
                this.$store.commit('setNotification',{type:2,msg:'Enter a valid pin',unset:false});
                return false;
            }
             
            this.loading=true;
            this.withdrawal.id=this.saving.id;
            this.$store.dispatch('post',{endpoint:'fixed-withdraw?token='+this.token,details:this.withdrawal})
            .then((data)=>{
                console.log(data);
                this.loading=false;
                if(data.data.status){ 
                    data.data.data=this.token;
                    this.$store.state.saving.hasActiveWithdrawal=true;
                    // this.$store.commit('setUser',data.data.data); 
                    this.$store.commit('setNotification',{type:1,msg:'Your withdrawal is under review.We will get back to you shortly',unset:false});
                    window.$("#withdrawmodal").modal('hide');
                }else{
                    this.$store.commit('setNotification',{type:2,msg:data.data.message,unset:true});
                }
            })
            .catch((error)=>{
                this.loading=false;
                console.log(error.request);
            })
        }
    }
}
</script>