<template>
    <div class=""> 
        <!-- Overlays -->
      <div class="ms-aside-overlay ms-overlay-left ms-toggler" data-target="#ms-side-nav" data-toggle="slideLeft"></div>
      <div class="ms-aside-overlay ms-overlay-right ms-toggler" data-target="#ms-recent-activity" data-toggle="slideRight"></div>
      <!-- Sidebar Navigation Left -->
      <aside id="ms-side-nav" class="side-nav fixed ms-aside-scrollable ms-aside-left">
        <!-- Logo -->
        <div class="logo-sn ms-d-block-lg">
          <a class="pl-0 ml-0 text-center" href="/">
            <img src="../../../assets/covestlogo.png" alt="logo">
          </a>
        </div>
        <!-- Navigation -->
        <ul class="accordion ms-main-aside fs-14" id="side-nav-accordion">
          <!-- Dashboard -->
          <li class="menu-item ">
            <router-link to="/dashboard" :class="$route.fullPath == '/dashboard' ?'active':''">
              <span><i class="material-icons fs-16">dashboard</i>Dashboard </span>
            </router-link> 
          </li>
          <li class="menu-item">
            <router-link to="/dashboard/fixed-savings" :class="$route.fullPath.search('fixed') != -1 ?'active':''">
               <span><i class="material-icons fs-16">lock</i>Fixed  Savings </span>
            </router-link>
          </li>
          <li class="menu-item">
            <a href="/dashboard/stash-savings" :class="$route.fullPath == '/dashboard/stash-savings' ?'active':''">
               <span><i class="fa-unlock fa fs-16"></i>Stash  Savings </span>
            </a>
          </li>
          <li class="menu-item">
            <router-link to="/dashboard/investment" :class="$route.fullPath == '/dashboard/investment' ?'active':''">
               <span><i class="fa fa-tasks fs-16"></i>Investment </span>
            </router-link>
          </li>
          <!-- <li class="menu-item">
            <router-link to="/dashboard/withdraw" :class="$route.fullPath == '/dashboard/withdraw' ?'active':''">
               <span><i class="fa fa-chevron-circle-down fs-16"></i>Withdraw </span>
            </router-link>
          </li> -->
          <li class="menu-item">
            <a href="/dashboard/card-details" :class="$route.fullPath == '/dashboard/card-details' ?'active':''">
               <span><i class="fa-credit-card fa fs-16"></i>Card Details </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/dashboard/settings" :class="$route.fullPath == '/dashboard/settings' ?'active':''">
               <span><i class="fa-cog fa fs-16"></i>Settings</span>
            </a>
          </li>
        </ul>
      </aside>
      <!-- Sidebar Right -->
      <aside id="ms-recent-activity" class="side-nav fixed ms-aside-right ms-scrollable">
        <div class="ms-aside-header">
          <ul class="nav nav-tabs tabs-bordered d-flex nav-justified mb-3" role="tablist">
            <li role="presentation" class="fs-12"><a href="#activityLog" aria-controls="activityLog" class="active" role="tab" data-toggle="tab"> Activity Log</a>
            </li>
            <li>
              <button type="button" class="close ms-toggler text-center" data-target="#ms-recent-activity" data-toggle="slideRight"><span aria-hidden="true">&times;</span>
              </button>
            </li>
          </ul>
        </div>
        <div class="ms-aside-body">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active fade show" id="activityLog">
              <ul class="ms-activity-log">
                <!-- <li>
                  <div class="ms-btn-icon btn-pill icon btn-light"> <i class="flaticon-gear"></i>
                  </div>
                  <h6>Update 1.0.0 Pushed</h6>
                  <span> <i class="material-icons">event</i>1 January, 2019</span>
                  <p class="fs-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, ula in sodales vehicula....</p>
                </li>  -->
              </ul> <a href="#" class="btn btn-primary d-block"> View All </a>
            </div>
          </div>
        </div>
      </aside>


      <main class="body-content"> 
          <user-navbar></user-navbar>
          <!-- <slot></slot> -->
             <!-- Body Content Wrapper -->
              <div class="ms-content-wrapper">
                <div class="row">
                  <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb pl-0"> 
                        <li v-for="(route,index) in routes" :key="index" :class="route.active ? 'breadcrumb-item active':'breadcrumb-item'"><a :href="'/'+route.path"> <i v-if="route.home" class="material-icons">home</i> {{route.name}}</a></li>
                      </ol>
                    </nav>
                    <router-view></router-view>
                  </div>
                </div>
              </div>
      </main>
        
    </div>
</template>

<script>
export default {
    data(){
      return {
        routes:[]
      }
    },  
    updated(){
      setTimeout(()=>{
        var routes=this.$route.fullPath.split('/');
        var temp=[];
        routes=routes.filter((d)=> d != '');
        this.routes=routes.map((d)=>{
          temp.push(d);
          return {
            name:d[0].toUpperCase()+d.substr(1,d.length-1), //camelcase
            path:temp.join('/'),
            active:temp.length == routes.length,
            home:temp.length == 1
          };
        }); 
      },100);
    },
    created(){
      setTimeout(()=>{
        var routes=this.$route.fullPath.split('/');
        var temp=[];
        routes=routes.filter((d)=> d != '');
        this.routes=routes.map((d)=>{
          temp.push(d);
          return {
            name:d[0].toUpperCase()+d.substr(1,d.length-1), //camelcase
            path:temp.join('/'),
            active:temp.length == routes.length,
            home:temp.length == 1
          };
        }); 
      },100);
    }
}
</script>
<style>
  li.active a{
    color: grey !important;
  }
</style>