<template>
    <!-- Navigation Bar -->
    <nav class="navbar ms-navbar">
        <div id="ms-aside-toggler" class="ms-aside-toggler ms-toggler pl-0" data-target="#ms-side-nav" data-toggle="slideLeft">
            <span class="ms-toggler-bar bg-primary"></span>
            <span class="ms-toggler-bar bg-primary"></span>
            <span class="ms-toggler-bar bg-primary"></span>
        </div>
        <div class="logo-sn logo-sm ms-d-block-sm">
            <a class="pl-0 ml-0 text-center navbar-brand mr-0" href="/"><img src="../../../assets/covestlogo.png" alt="logo"> </a>
        </div>
        <ul class="ms-nav-list ms-inline mb-0" id="ms-nav-options">  
            <li class="ms-nav-item ms-nav-user dropdown">
                <a href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="ms-user-img ms-img-round float-right" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS0Zq2XTzXmYGmzA9A34g00s7dDZQRKZtot0NGbja29zaDptKSW&usqp=CAU" alt="people">
                </a>
                <ul class="dropdown-menu dropdown-menu-right user-dropdown" aria-labelledby="userDropdown">
                <li class="dropdown-menu-header">
                    <h6 class="dropdown-header ms-inline m-0"><span class="text-disabled">Welcome, {{user.lastname}}</span></h6>
                </li>
                <li class="dropdown-divider"></li>
                <li class="ms-dropdown-list">
                    <!-- <a class="media fs-14 p-2" href="pages/prebuilt-pages/user-profile.html"> <span><i class="flaticon-user mr-2"></i> Profile</span>
                    </a> -->
                    <!-- <a class="media fs-14 p-2" href="pages/apps/email.html"> <span><i class="flaticon-mail mr-2"></i> Inbox</span> <span class="badge badge-pill badge-info">3</span>
                    </a> -->
                    <!-- <a class="media fs-14 p-2" href="pages/prebuilt-pages/user-profile.html"> <span><i class="flaticon-gear mr-2"></i> Account Settings</span>
                    </a> -->
                </li>
                <li class="dropdown-divider"></li>
                <!-- <li class="dropdown-menu-footer">
                    <a class="media fs-14 p-2" href="pages/prebuilt-pages/lock-screen.html"> <span><i class="flaticon-security mr-2"></i> Lock</span>
                    </a>
                </li> -->
                <li class="dropdown-menu-footer">
                    <a @click="logout()" class="media fs-14 p-2" href="#"> <span><i class="flaticon-shut-down mr-2"></i> Logout</span>
                    </a>
                </li>
                </ul>
            </li>
        </ul>
        <div class="ms-toggler ms-d-block-sm pr-0 ms-nav-toggler" ></div>
        <!-- <div class="ms-toggler ms-d-block-sm pr-0 ms-nav-toggler" data-toggle="slideDown" data-target="#ms-nav-options"> 
            <span class="ms-toggler-bar bg-primary"></span>
            <span class="ms-toggler-bar bg-primary"></span>
            <span class="ms-toggler-bar bg-primary"></span>
        </div> -->
    </nav>
</template>
<script>
import { mapState } from 'vuex';
export default {
    name:'navbar',
    computed:{
        ...mapState({
        user:(context)=>context.user
        })
    },
    methods:{
        logout(){
            this.$store.commit('logout');
            window.location.href='';
        }
    }
}
</script>
<style scoped>
    .ms-inline li.ms-nav-item{
            padding: 10px 0px;
    }
</style>